@import "../../../shared/styles/variables";

.contacts-purchase {
  width: 100%;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;

  &__work-time {
    width: 360px;

    > div {
      margin-bottom: 19px;
      width: 100%;
      display: flex;
      align-items: start;

      >div {
        width: 30px;
        height: 24px;
        img {
          display: block;
          margin: 0 auto;
          max-height: 24px;
          max-width: 20px;
        }
      }

      span {
        display: block;
        width: fit-content;
        margin-left: 7px;
        color: $black;
        font-size: 18px;
        line-height: 1;
        font-family: 'Museo Sans Cyrl 300';
      }
    }

  }

  &__main-info {
    flex-basis: calc(100% - 1% - 360px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 48px 0;

    > div {
      flex-basis: 45%;

      > span {
        display: block;
        margin-bottom: 9px;
        width: fit-content;
        color: $black;
        font-size: 20px;
        line-height: 1;
        font-family: 'Museo Sans Cyrl 700';
      }

      small {
        display: block;
        width: fit-content;
        margin-bottom: 20px;
        color: $grey_normal;
        font-size: 13px;
        line-height: 1;
        font-family: 'Museo Sans Cyrl 300';
      }

      div {
        width: 100%;

        a {
          width: fit-content;
          display: flex;
          align-items: center;
          margin-bottom: 12px;

          img {
            width: 21px;
          }

          span {
            display: block;
            margin-left: 9px;
            color: $black;
            font-size: 18px;
            line-height: 1;
            font-family: 'Museo Sans Cyrl 500';
          }

          &:hover > span {
            text-decoration: underline;
            color: $violet;
          }
        }

        > a:last-child {
          margin-bottom: 0;
        }
      }
    }

  }

}
