<div class="general-contacts">

  <div class="general-contacts__work-time">

    <div>
      <div><img src="../../../../assets/icon/geoposition.svg" alt=""></div>
      <span>
        г. Набережные Челны, <br/>
        пр. Казанский (трасса М-7), 123
      </span>
    </div>

    <div>
      <div><img src="../../../../assets/icon/time.svg" alt=""></div>
      <span>
        Время работы: <br/>
        Понедельник-пятница (8:00-17:00) <br/>
        Суббота (8:00-13:00) <br/>
        Воскресенье (выходной) <br/>
      </span>
    </div>

    <div class="general-contacts__work-time__main-contacts">
      <a href="tel:+78552928111">
        <img src="../../../../assets/general-icon/phone.svg" alt="">
        <span>+7 (8552) 928-111</span>
      </a>
    </div>

    <button (click)="modal=true">
      <img src="../../../../assets/icon/search.svg" alt="">
      <span>Посмотреть сотрудников</span>
    </button>

  </div>

  <div>
    <div id="gis"></div>
  </div>

</div>

<div class="modal" *ngIf="modal">

  <div class="modal-background" (click)="close()"></div>

  <div class="modal-employee">

    <ul>
      <li *ngFor="let e of employees">
        <span>{{e.name}}</span>
        <small>{{e.post}}</small>
        <a [href]="'tel:' + e.href">{{e.phone}}</a>
        <a [href]="'mailto:' + e.email">{{e.email}}</a>
      </li>
    </ul>

  </div>

</div>
