<div class="guarantee">

  <nav class="breadcrumbs">
    <app-ng-dynamic-breadcrumb [bgColor]="'#ffffff'" symbol="" class="breadcrumbs-links"></app-ng-dynamic-breadcrumb>
  </nav>

  <h1>Гарантия</h1>

  <p>
    Продавец продает товар, соответствующий техническим регламентам, государственным
    стандартам (ГОСТ), техническим условиям (ТУ), действующим в отношении данного вида товара, и должен
    отвечать требованиям действующего законодательства Российской Федерации. Продавец
    предоставляет Покупателю гарантию качества сроком на 6 (Шесть) календарных месяцев с даты
    передачи Товара (в случае самовывоза – это дата, фиксируемая сторонами в УПД или товарно-транспортной
    накладной, в случае отправки через грузоперевозчика – дата принятия товара к отправке)
  </p>

  <h1>Возврат</h1>

  <p>
    - При обнаружении в Товаре <b>скрытых недостатков,</b> Покупатель обязан направить Поставщику мотивированную претензию в
    письменной форме с приложением документов, подтверждающих причину возникновения недостатков и рекламационный акт
    (оригинал) выданный сервисным центром.
    - Поставщик вправе отказать в приемке товара подлежащей обмену или возврату (скрытые недостатки) в случае если
    рекламационный акт о наличии дефекта выдан не официальным сервисным центром. Также Продавец вправе произвести
    проверку рекламационного акта в мотивировочной части наличия недостатка. Претензия должна быть направлена
    посредством электронной почты менеджеру, отправившему Ваш заказ, а также по адресу: 423800, РТ, г. Набережные Челны,
    а/я 180
    - Возвращаемый товар должен иметь товарную упаковку, (сохранены потребительские свойства), и возвращается Поставщику
    силами и за счет Покупателя.
    - Покупатель не вправе возвращать товар надлежащего качества, после фактического принятия товара.
  </p>

</div>
