@import "../../../../shared/styles/variables";

.admin-alternative {
  width: 100%;

  h1 {
    color: $black;
    font-size: 32px;
    line-height: 1;
    font-family: "Museo Sans Cyrl 700";
  }

  &__list {
    width: 100%;

    > span {
      display: block;
      width: fit-content;
      margin: 20px auto 0;
      color: $grey_normal;
      font-size: 24px;
      line-height: 1;
      font-family: "Museo Sans Cyrl 500";
    }

    > div {
      margin-top: 10px;
      width: 50%;
      padding: 10px 15px;
      border: 2px solid $border_grey;

      span {
        display: block;
        margin-bottom: 10px;
        color: $black;
        font-size: 16px;
        line-height: 1;
        font-family: "Museo Sans Cyrl 500";
      }

      div {
        width: 100%;
        display: flex;
        gap: 10px;

        input {
          padding: 10px 13px;
          width: 300px;
          background-color: $grey_light;
          border-radius: 10px;
          color: $black;
          font-size: 16px;
          line-height: 1;
          font-family: "Museo Sans Cyrl 300";
          &:disabled {
            background-color: $grey_easy;
          }
        }

        button {
          display: block;
          padding: 10px 13px;
          width: 180px;
          background-color: $yellow;
          border: none;
          border-radius: 10px;
          text-transform: uppercase;
          text-align: center;
          color: $black;
          font-size: 16px;
          line-height: 1;
          font-family: "Museo Sans Cyrl 500";
          cursor: pointer;

          &:disabled {
            background-color: $grey_easy !important;
            cursor: not-allowed;
          }
          &:hover {
            background-color: $yellow-hover;
          }
        }

      }

    }

  }

}
