.idea
.git
data
redis
#Server
# compiled output
/server/dist
/server/node_modules
/server/.env


# Logs
/server/logs
/server/*.log
/server/npm-debug.log*
/server/yarn-debug.log*
/server/yarn-error.log*
/server/lerna-debug.log*

# OS
/server/.DS_Store
/server/*.env

# Tests
/server/coverage
/server/.nyc_output
/server/test

# IDEs and editors
/server/.idea
/server/.project
/server/.classpath
/server/.c9/
/server/*.launch
/server/.settings/
/server/*.sublime-workspace

# IDE - VSCode
/server.vscode/*
!/server/.vscode/settings.json
!/server/.vscode/tasks.json
!/server/.vscode/launch.json
!/server/.vscode/extensions.json

#Client
# compiled output
/client/dist
/client/tmp
/client/out-tsc
# Only exists if Bazel was run
/client/bazel-out

# dependencies
/client/node_modules

# profiling files
/client/chrome-profiler-events*.json
/client/speed-measure-plugin*.json

# IDEs and editors
/client/.idea
/client/.project
/client/.classpath
/client/.c9/
/client/*.launch
/client/.settings/
/client/*.sublime-workspace

# IDE - VSCode
/client/.vscode/*
!/client/.vscode/settings.json
!/client/.vscode/tasks.json
!/client/.vscode/launch.json
!/client/.vscode/extensions.json
.history/*

# misc
/client/.sass-cache
/client/connect.lock
/client/coverage
/client/libpeerconnection.log
/client/npm-debug.log
/client/yarn-error.log
/client/testem.log
/client/typings

# System Files
.DS_Store
Thumbs.db


#Webserver
/webserver
