<div class="general-contacts">

  <div class="general-contacts__work-time">

    <div>
      <div><img src="../../../../assets/icon/geoposition.svg" alt=""></div>
      <span>
        г. Набережные Челны, <br/>
        пр. Казанский (трасса М-7), 123
      </span>
    </div>

    <div>
      <div><img src="../../../../assets/icon/time.svg" alt=""></div>
      <span>
        Время работы: <br/>
        Понедельник-пятница (8:00-17:00) <br/>
        Суббота (выходной) <br/>
        Воскресенье (выходной) <br/>
      </span>
    </div>

    <div class="general-contacts__work-time__main-contacts">
      <a href="tel:+79600680777">
        <img src="../../../../assets/general-icon/phone.svg" alt="">
        <span>+7 (960) 068-07-77</span>
      </a>

      <a href="mailto:export@midkam.ru">
        <img src="../../../../assets/general-icon/email.svg" alt="">
        <span>export@midkam.ru</span>
      </a>
    </div>

  </div>

  <div>
    <div id="gis"></div>
  </div>

</div>
