<div class="individual-order">

  <nav class="breadcrumbs">
    <app-ng-dynamic-breadcrumb [bgColor]="'#ffffff'" symbol="" class="breadcrumbs-links"></app-ng-dynamic-breadcrumb>
  </nav>

  <p>
    Для индивидуального заказа запасных частей, которые не были найдены в нашем каталоге, воспользуйтесь
    <b>специальной формой</b>
  </p>

  <p>Кнопка для перехода в данную форму находится в верхней части сайта www.midkam.ru</p>

  <div>
    <img src="../../../../assets/buyer/help.jpg" alt="">
  </div>

  <p>
    Заполните имя, загрузите свой файл или введите в поле необходимые автотовары. <br/>
    Выберите удобный Вид обратной связи и кликните отправить. <br/>
    В течение трех рабочних трех рабочих дней менеджеры обработают Ваше обращение и свяжутся для выставления счета,
    уточнения деталей, либо проинформируют о невозможности обработать Вашу заявку.
  </p>

  <div>
    <img src="../../../../assets/buyer/modal-photo.jpg" alt="">
  </div>

</div>
