<div class="payment-terms">

  <nav class="breadcrumbs">
    <app-ng-dynamic-breadcrumb [bgColor]="'#ffffff'" symbol="" class="breadcrumbs-links"></app-ng-dynamic-breadcrumb>
  </nav>

  <div>

    <div>
      <img src="../../../../assets/general-icon/payment-cash.svg" alt="">
    </div>

    <div>

      <h1>Оплата наличными в магазине</h1>

      <p>
        В магазинах «Мидкам» можно произвести оплату наличными. Продажа товаров за наличные расчет осуществляется через
        контрольно-кассовый аппарат с выдачей покупателю чека. Оплата товара производится только в рублях.
      </p>

    </div>

  </div>

  <div>

    <div>
      <img src="../../../../assets/general-icon/payment-card-in-shop.svg" alt="">
    </div>

    <div>

      <h1>Оплата картой в магазине</h1>

      <p>

        <span>
          В магазинах «Мидкам» можно произвести оплату банковскими картами Visa, MasterCard, Мир.
        </span>

        <span>
          При оплате картой предварительно необходимо сообщить об этом менеджеру.
        </span>

        <span>
          Оплату банковской картой может произвести только владелец карты. При получении товара владелец карты должен
          присутствовать лично, чтобы при необходимости предъявить карту и документ, удостоверяющий личность (паспорт или
          водительское удостоверение)
        </span>

      </p>

    </div>

  </div>

  <div>

    <div>
      <img src="../../../../assets/general-icon/wire-transfer.svg" alt="">
    </div>

    <div>

      <h1>Безналичный перевод от юридических лиц и ИП (с НДС и без НДС)</h1>

      <p>

        <span>
          При заказе товаров или услуг по безналичному расчету необходимо предоставить менеджеру-оператору по электронной
          почте или на бумажном носителе реквизиты компании: ИНН, КПП, полное наименование, юридический адрес, фактический
          адрес, фамилию, имя и отчество контактного лица. В карте партнера, либо в письме должна быть указана форма
          налогооблажения для правильности оформления договора и выставления счетов.
        </span>

        <span>
          После проверки организации юридической службой выставляется договор, после подписания которого выставляется
          счет.
        </span>

        <span>
          Выставленный счет действителен в течении 3 банковских дней. Товар отпускается со склада или доставляется в
          указанное место только после фактического поступления денег на расчетный счет при наличии доверенности от
          организации и паспорта доверенного лица.
        </span>

      </p>

    </div>

  </div>

  <div>

    <div>
      <img src="../../../../assets/general-icon/payment-card-on-site.svg" alt="">
    </div>

    <div>

      <h1>Оплата картой на сайте</h1>

      <p>
        Появится в скором времени.
      </p>

    </div>

  </div>

</div>
