<div class="modal">

  <div class="modal-background" (click)="close.emit()"></div>

  <div class="city-modal-window">

    <div class="city-modal-window__title">
      <h1>Выберите город</h1>
    </div>

    <div class="city-modal-window__search">
      <input type="text" placeholder="Поиск" appDelayedInput (delayedInput)="searchCity($event)"[delayTime]="100" #searchInputElement>
      <ul *ngIf="resultSearch.length > 0">
        <li *ngFor="let item of resultSearch">
          <a (click)="onChooseInSearch(item.city)" [href]="'#'+item.city">{{item.city}}</a>
        </li>
      </ul>
    </div>

    <ul class="city-modal-window__list">

      <li *ngFor="let item of city; let idx=index">
        <a *ngIf="!item.startLetter"
           [id]="item.city"
           [ngClass]="{'city-modal-window__list_active': getCity.city===item.city}"
           (click)="chooseCity(item.city, item.cityTo)">{{item.city}}</a>
        <span *ngIf="item.startLetter">{{item.startLetter}}</span>
      </li>

    </ul>

  </div>

</div>
