@import "../../../../shared/styles/variables";

.admin-manufacturer-edit {
  width: 100%;

  > h1 {
    color: $black;
    font-size: 36px;
    line-height: 1;
    font-family: "Museo Sans Cyrl 700";
  }

  &__info {
    width: 100%;

    > span {
      display: block;
      margin: 50px auto;
      width: fit-content;
      color: $grey_normal;
      font-size: 24px;
      line-height: 1;
      font-family: "Museo Sans Cyrl 500";
    }

    > h2 {
      margin: 10px 0;
      color: $black;
      font-size: 28px;
      line-height: 1;
      font-family: "Museo Sans Cyrl 700";
    }

    &__form-info {
      width: 100%;
      padding: 10px 20px;
      border: 2px solid $border_grey;

      label {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 10px;

        > span {
          display: block;
          flex-basis: 100%;
          margin-bottom: 10px;
          color: $black;
          font-size: 16px;
          line-height: 1;
          font-family: "Museo Sans Cyrl 500";
        }

        > small {
          display: block;
          flex-basis: 100%;
          color: red;
          font-size: 12px;
          line-height: 1;
          font-family: "Museo Sans Cyrl 100";
        }

        > textarea {
          display: block;
          padding: 10px 13px;
          margin-bottom: 10px;
          max-width: 100%;
          width: 500px;
          height: 120px;
          background-color: $grey_easy;
          border-radius: 10px;
          border: none;
          outline: none;
          color: $black;
          font-size: 15px;
          line-height: 1;
          font-family: "Museo Sans Cyrl 500";
          resize: none;
        }

        > input {
          max-width: 100%;
          width: 500px;
          margin-bottom: 10px;
        }

        > div {
          position: relative;
          width: 500px;
          margin: 0 0 10px 30px;

          > button {
            display: block;
            width: 100%;
            height: 100%;
            padding: 10px 0;
            background-color: $grey_easy;
            border: none;
            border-radius: 10px;
            color: $black;
            font-size: 16px;
            line-height: 1;
            font-family: "Museo Sans Cyrl 500";
            cursor: pointer;
          }

          ul {
            position: absolute;
            overflow: auto;
            z-index: 3;
            left: 0;
            right: 0;
            top: 100%;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
            background-color: #ffffff;
            max-height: 0;
            min-height: 0;
            transition: max-height 1s, min-height 1s;

            li {
              display: block;
              padding: 10px 13px;
              width: 100%;
              color: $black;
              font-size: 16px;
              line-height: 1;
              font-family: "Museo Sans Cyrl 500";
              cursor: pointer;

              &:hover {
                background-color: $yellow-hover;
              }
            }

            li.selected-country {
              background-color: $yellow;
              pointer-events: none;
            }

            > li:last-child {
              margin-bottom: 0;
            }

          }

          ul.drop {
            min-height: 50px;
            max-height: 300px;
          }
        }

      }

      > button {
        width: 200px;
      }

      > small {
        display: block;
        margin-top: 10px;
        color: red;
        font-size: 12px;
        line-height: 1;
        font-family: "Museo Sans Cyrl 100";
      }

      > span {
        display: block;
        margin-top: 10px;
        color: $green;
        font-size: 12px;
        line-height: 1;
        font-family: "Museo Sans Cyrl 100";
      }

    }

    &__logo {
      width: 100%;

      img {
        max-width: 50%;
        max-height: 150px;
      }
    }

    &__new-logo {
      width: 100%;
      padding: 10px 20px;
      border: 2px solid $border_grey;

      span {
        display: block;
        margin-bottom: 10px;
        color: $black;
        font-size: 24px;
        line-height: 1;
        font-family: "Museo Sans Cyrl 300";
      }

      small {
        display: block;
        margin-bottom: 10px;
        color: $grey_dark;
        font-size: 14px;
        line-height: 1;
        font-family: "Museo Sans Cyrl 100";
      }

      input {
        width: 500px;
        margin-bottom: 10px;
      }

      button {
        width: 200px;
      }

      &__error {
        margin: 10px 0 0!important;
        color: red !important;
        font-size: 12px !important;
      }

    }

    &__new-certificate {
      width: 100%;
      padding: 10px 20px;
      border: 2px solid $border_grey;

      span {
        display: block;
        margin-bottom: 10px;
        color: $black;
        font-size: 24px;
        line-height: 1;
        font-family: "Museo Sans Cyrl 300";
      }

      input {
        width: 500px;
        margin-bottom: 10px;
      }

      button {
        width: 200px;
      }

      &__error {
        margin: 10px 0 0!important;
        color: red !important;
        font-size: 12px !important;
      }

    }

    &__form-certificate {
      width: 100%;
      padding: 10px 20px;
      border: 2px solid $border_grey;

      > span {
        display: block;
        margin-bottom: 10px;
        color: $black;
        font-size: 24px;
        line-height: 1;
        font-family: "Museo Sans Cyrl 300";
      }

      > input[type='file'] {
        width: 500px;
        margin-bottom: 10px;
      }

      label {
        display: flex;
        width: fit-content;
        margin-bottom: 10px;

        > small {
          display: block;
          margin-top: 5px;
          color: red;
          font-size: 12px;
          line-height: 1;
          font-weight: 100;
          font-family: "Museo Sans Cyrl 100";
        }

      }

      > label:nth-child(3) {
        align-items: center;

        span {
          font-size: 16px;
          line-height: 1;
          font-weight: 300;
          font-family: "Museo Sans Cyrl 300";
        }

      }

      > label:nth-child(4) {
        flex-direction: column;

        span {
          display: block;
          margin-bottom: 5px;
          font-size: 16px;
          line-height: 1;
          font-weight: 300;
          font-family: "Museo Sans Cyrl 300";
        }

        input {
          display: block;
          padding: 5px;
          width: 40px;
          height: 40px;
          background-color: $grey_easy;
          border-radius: 5px;
          text-align: center;
          font-size: 16px;
          line-height: 1;
          font-weight: 300;
          font-family: "Museo Sans Cyrl 300";
        }

      }

      > button {
        width: 200px;
      }

      > small {
        margin: 10px 0 0!important;
        color: red !important;
        font-size: 12px !important;
      }

    }

    &__certificate {
      width: 100%;
      margin-top: 10px;

      > div {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px 20px;
        margin-bottom: 10px;

        div {
          cursor: pointer;

          img {
            max-height: 300px;
            max-width: 100%;
          }
        }

        > span {
          display: block;
          font-size: 16px;
          line-height: 1;
          font-weight: 300;
          font-family: "Museo Sans Cyrl 300";
        }

        button {
          width: 200px;
        }
      }

    }

  }

}

.admin-modal {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  align-items: center;
  justify-content: center;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
