@import "../../styles/variables";

.get-price-modal-window {
  position: absolute;
  z-index: 201;
  width: 26%;
  max-height: 600px;
  padding: 41px 30px 35px;
  border: 2px solid $yellow;
  border-radius: 15px;
  background-color: #ffffff !important;
  overflow: hidden;

  transition: max-height 1s;

  &__title {
    margin: 0 auto;
    font-size: 24px;
    font-family: "Museo Sans Cyrl 700";
    color: $violet;
    text-transform: uppercase;
    text-align: center;
  }

  &__footnote {
    margin: 32px auto 0;
    font-size: 16px;
    font-family: "Museo Sans Cyrl 100";
    color: $grey_normal;
  }

  &__form-control {
    width: 100%;
    margin: 0 auto;

    input[type='text'], input[type='email'] {
      width: 100%;
      outline: none;
      border: none;
      background-color: transparent;
      padding: 4px 6px;
      border-bottom: 1px solid $black;

      font-family: "Museo Sans Cyrl 100";
      font-size: 19px;
      color: $grey_dark;
    }

      button {
      display: block;
      border-radius: 12px;
      margin: 32px auto 0;
      width: 52%;
      padding: 15px 0;
      background-color: $yellow;
      outline: none;
      border: none;
      cursor: pointer;

      text-transform: uppercase;
      text-align: center;
      font-family: "Museo Sans Cyrl 700";
      font-size: 13px;
      color: $violet;

        &:disabled {
          background-color: $grey_easy;
          cursor: not-allowed;
        }
    }

  }

  &__input {
    margin-top: 15px;
    width: 100%;

    div {
      width: 100%;

      small {
        margin-top: 3px;
        display: block;
        font-size: 10px;
        font-family: "Museo Sans Cyrl 100";
        color: red;
      }
    }
  }

  &__price-list {
    margin-top: 15px;
    width: 100%;
    position: relative;

    > div:last-child {
      width: 100%;

      small {
        margin-top: 3px;
        display: block;
        font-size: 10px;
        font-family: "Museo Sans Cyrl 100";
        color: red;
      }
    }

    > div:first-child {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      padding: 4px 30px 4px 6px;
      border-bottom: 1px solid $black;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 6px;
        right: 3%;
        width: .5em;
        height: .5em;
        background-color: transparent;
        border-width: 1px;
        border-style: solid;
        border-color: transparent transparent $violet $violet;
        transform: rotate(-45deg)
      }

      > span {
        font-size: 19px;
        font-family: "Museo Sans Cyrl 100";
        color: $grey_dark;
        z-index: 198;
      }

      > div {
        position: relative;
        z-index: 201;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $grey_easy;
        border-radius: 6px;
        padding: 5px;
        margin: 3px;

        span {
          color: $black;
          font-size: 14px;
          line-height: 1;
          font-weight: 300;
          font-family: "Museo Sans Cyrl 300";
        }

        > span:last-child {
          display: inline-block;
          margin-left: .5em;
          cursor: pointer;
        }

      }

    }

    select {
      position: absolute;
      top: 104%;
      left: 0;
      z-index: 201;
      min-width: 100%;
      max-height: 0em;
      border: none;
      outline: none;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
      transition: max-height 1s;

      option {
        cursor: pointer;
        font-size: 19px;
        font-family: "Museo Sans Cyrl 100";
        color: $grey_dark;
        padding: 2px 6px;
      }

      option:disabled {
        background-color: $yellow;
        color: $violet;
      }

    }

    select::-webkit-scrollbar {
      //это фон самого скроллбара
      background-color: $grey_easy;
      border-radius: 10px;
      width: 5px;
    }

    select::-webkit-scrollbar-button {
      //кнопки направления на полосе прокрутки
      display: none;
    }

    select::-webkit-scrollbar-track {
      //пустое пространство под индикатором прокрутки
    }

    select::-webkit-scrollbar-thumb {
      //индикатор прокрутки, перетаскиваемый элемент.
      background-color: $black;
      border-radius: 10px;
    }
  }


  &__load {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6em;
  }

  &__successful, &__failed {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    h1 {
      font-family: "Museo Sans Cyrl 700";
      font-size: 24px;
      margin-bottom: 1em;
    }
    button {
      display: block;
      margin: 0 auto;
      padding: 10px 5px;
      min-width: 10em;
      border: none;
      outline: none;
      border-radius: 7px;
      cursor: pointer;

      text-align: center;
      font-size: 14px;
      font-family: "Museo Sans Cyrl 300";
      text-transform: uppercase;
    }
  }

  &__successful {
    h1 {
      color: $green;
    }
    button {
      background-color: $yellow;
      color: $violet;
    }
  }

  &__failed {
    h1 {
      color: red;
    }
    button {
      background-color: $black;
      color: #ffffff;
    }
  }

}

.price-drop {
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
  z-index: 199;
}

@media (max-width: 768px) {

  .get-price-modal-window {
    width: 80%;
    max-height: 95vh;
    padding: 25px;

    &__title {
    }

    &__footnote {
      margin: 20px auto 0;
    }

    &__form-control {
      button {
        margin: 20px auto 0;
        padding: 15px 25px;
      }

    }

  }

}

@media (max-width: 550px) {

  .get-price-modal-window {
    padding: 18px;

    &__title {
      font-size: 20px;
    }

    &__footnote {
      margin: 10px auto 0;
      font-size: 13px;
    }

    &__form-control {

      input[type='text'], input[type='email'] {
        font-size: 16px;
      }

      button {
        border-radius: 10px;
        margin: 15px auto 0;
        width: unset;
        padding: 10px 15px;
        font-size: 11px;
      }

    }

    &__input {
      margin-top: 5px;

      div {
        small {
          font-size: 8px;
        }
      }
    }

    &__price-list {
      margin-top: 5px;

      > div:last-child {

        small {
          margin-top: 2px;
          font-size: 8px;
        }
      }

      > div:first-child {

        > span {
          font-size: 16px;
        }

        > div {

          span {
            font-size: 12px;
          }

        }

      }

      select {

        option {
          font-size: 16px;
        }

      }

    }

    &__successful, &__failed {

      h1 {
        font-size: 18px;
      }
      button {
        padding: 10px 15px;
        font-size: 12px;
      }
    }

  }

}

@media (max-width: 420px) {

  .get-price-modal-window {
    padding: 14px;

    &__title {
      font-size: 18px;
    }

    &__footnote {
      margin: 8px auto 0;
      font-size: 11px;
    }

    &__form-control {

      input[type='text'], input[type='email'] {
        font-size: 13px;
      }

      button {
        border-radius: 7px;
        margin: 10px auto 0;
        width: unset;
        padding: 9px 13px;
        font-size: 9px;
      }

    }

    &__input {

      div {
        small {
          font-size: 7px;
        }
      }
    }

    &__price-list {

      > div:last-child {

        small {
          font-size: 7px;
        }
      }

      > div:first-child {

        > span {
          font-size: 13px;
        }

        > div {

          span {
            font-size: 9px;
          }

        }

      }

      select {

        option {
          font-size: 13px;
        }

      }

    }

    &__successful, &__failed {

      h1 {
        font-size: 16px;
      }
      button {
        padding: 9px 13px;
        font-size: 9px;
      }
    }

  }

}
