@import "../shared/styles/variables";

.search-page {
  width: 100%;
  margin: 0 auto;

  > h1 {
    margin-bottom: 20px;
    color:  $black;
    font-size: 36px;
    line-height: 1;
    font-family: "Museo Sans Cyrl 700";
  }

  > span {
    display: block;
    width: fit-content;
    margin: 130px auto 150px;
    color: $grey_normal;
    font-size: 24px;
    line-height: 1;
    font-family: "Museo Sans Cyrl 500";
  }

  &__content {
    width: 100%;
    margin-bottom: 20px;

    > span {
      display: block;
      margin-bottom: 5px;
      color: $black;
      font-size: 16px;
      line-height: 1;
      font-family: "Museo Sans Cyrl 300";
    }

    hr {
      border: none;
      border-top: 1px solid $border_grey;
      margin-bottom: 20px;
    }

    > ul {
      width: 100%;
      margin-bottom: 20px;
      list-style: none;

      li {
        display: flex;
        width: 100%;
        padding: 5px 0;
        margin-bottom: 10px;
        border-bottom: 2px solid $border_grey;

        > div:first-child {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-basis: 14%;
          height: 160px;

          > img {
            max-height: 160px;
            max-width: 100%;
          }
        }

        > div:nth-child(2) {
          flex-basis: 40%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          > a {
            display: block;
            width: fit-content;
            color: $violet;
            font-size: 16px;
            line-height: 1;
            font-family: "Museo Sans Cyrl 500";
            cursor: pointer;

            &:hover {
              color: $violet-hover;
            }
          }

          span {
            font-size: 14px;
            line-height: 1;
            font-family: "Museo Sans Cyrl 300";
          }

          > span:nth-child(2) {
            color: $black;
          }

          > span:last-child {
            color: $grey_normal;
          }

        }

        > div:nth-child(3) {
          display: flex;
          flex-basis: 10%;
          align-items: center;
          justify-content: center;

          span {
            color: $black;
            font-size: 16px;
            line-height: 1;
            font-family: "Museo Sans Cyrl 500", Arial, sans-serif;
          }
        }

        > div:nth-child(4) {
          flex-basis: 10%;
          display: flex;
          justify-content: center;
          align-items: center;

          span {
            text-align: center;
            color: $black;
            font-size: 14px;
            line-height: 1;
            font-weight: 500;
            font-family: "Museo Sans Cyrl 500";
          }

          > a {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              max-width: 100%;
              max-height: 40px;
            }

            &:hover {
              opacity: 0.8;
            }

          }

        }

      }

      > li:first-child {
        border-top: 2px solid $border_grey;
      }

      > li:last-child {
        margin-bottom: 0;
      }

    }

  }

}

.loader-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 130px 0 150px;
}

@media (max-width: 768px) {

  .search-page {
    margin: 0 auto 30px;

    > h1 {
      margin-bottom: 20px;
      font-size: 32px;
    }

    > span {
      margin: 100px auto 150px;
      font-size: 26px;
    }

    &__content {
      width: 100%;
      margin: 0;

      > span {
        font-size: 16px;
      }

      > ul {
        width: 93%;
        margin: 0 auto 15px;

        li {
          margin: 0;
          justify-content: space-between;

          > div:first-child {
            flex-basis: 18%;
            height: 130px;

            > img {
              max-height: 130px;
            }
          }

          > div:nth-child(2) {
            flex-basis: 40%;
            margin-left: 1%;

            > a {
              word-break: break-word;
              font-size: 16px;
            }

            span {
              font-size: 14px;
            }

          }

          > div:nth-child(3) {
            flex-basis: 20%;
            justify-content: start;

            span {
              font-size: 14px;
            }
          }

          > div:nth-child(4) {
            flex-basis: 20%;
            margin-left: 1%;

            span {
              font-size: 14px;
              word-break: break-word;
            }

            > a {

              img {
                max-height: 56px;
              }

            }

          }

        }

      }

    }

  }

}

@media (max-width: 550px) {

  .search-page {

    > h1 {
      font-size: 28px;
    }

    > span {
      font-size: 22px;
    }

    &__content {

      > span {
        font-size: 14px;
      }

      > ul {

        li {

          > div:first-child {
            height: 90px;

            > img {
              max-height: 90px;
            }
          }

          > div:nth-child(2) {

            > a {
              font-size: 13px;
            }

            span {
              font-size: 11px;
            }

          }

          > div:nth-child(3) {

            span {
              font-size: 11px;
            }
          }

          > div:nth-child(4) {

            span {
              font-size: 11px;
            }

            > a {

              img {
                max-height: 46px;
              }

            }

          }

        }

      }

    }

  }

}

@media (max-width: 420px) {

  .search-page {

    > h1 {
      font-size: 24px;
    }

    > span {
      font-size: 18px;
    }

    &__content {

      > span {
        font-size: 11px;
      }

      > ul {

        li {

          > div:first-child {
            height: 72px;

            > img {
              max-height: 72px;
            }
          }

          > div:nth-child(2) {

            > a {
              font-size: 11px;
            }

            span {
              font-size: 9px;
            }

          }

          > div:nth-child(3) {

            span {
              font-size: 9px;
            }
          }

          > div:nth-child(4) {

            span {
              font-size: 9px;
            }

            > a {

              img {
                max-height: 37px;
              }

            }

          }

        }

      }

    }

  }

}
