<div class="contacts-selling">

  <div>

    <div class="contacts-selling__shop-contact">
      <button (click)="dropdown($event)">
        <span>пос. Сидоровка</span>
        <div></div>
      </button>

      <div class="contacts-selling__shop-contact__info">

        <div>
          <div>
            <div><img src="../../../../assets/icon/geoposition.svg" alt=""></div>
            <span>г. Набережные Челны, <br/>
              пр. Казанский (трасса М-7), 123
            </span>
          </div>

          <div>
            <div><img src="../../../../assets/icon/time.svg" alt=""></div>
            <span>Время работы: <br/>
              Понедельник-пятница (8:00-17:00) <br/>
              Суббота (8:00-13:00) <br/>
              Воскресенье (выходной) <br/>
            </span>
          </div>
        </div>

        <div>
          <span>
            Запасные части на грузовые автомобили и прицепы:
            <b>КАМАЗ, НЕФАЗ, УРАЛ, ЗИЛ, СЗАП, ТОНАР</b> <br/>
            Комплектующие на двс <b>CUMMINS, КПП ZF,</b>
            метизы, подшипники, РТИ, ремкомплекты
          </span>
          <a href="tel:88007003132">
            <img src="../../../../assets/general-icon/phone.svg" alt="">
            <span>+7 (8552) 927-111</span>
          </a>
          <button (click)="openEmployee(employeesContact_1)">
            <img src="../../../../assets/icon/search.svg" alt="">
            <span>Посмотреть сотрудников</span>
          </button>
        </div>

        <div>
          <span>
            Запасные частей на грузовые автомобили <b>МАЗ</b> <br/>
            Комплектующие на двс <b>ЯМЗ, RENAULT</b>
          </span>
          <a href="tel:+78552928030">
            <img src="../../../../assets/general-icon/phone.svg" alt="">
            <span>+7 (8552) 928-030</span>
          </a>
          <button (click)="openEmployee(employeesContact_2)">
            <img src="../../../../assets/icon/search.svg" alt="">
            <span>Посмотреть сотрудников</span>
          </button>
        </div>

        <div>
          <span>
            Запасные части на малотоннажные грузовые
            автомобили и автобусы <b>ГАЗ, ПАЗ, УАЗ</b> <br/>
            Комплектующие на двс Cummins <b>ISF 2.8 и ISF 3.8</b>
          </span>
          <a href="tel:+78552707067">
            <img src="../../../../assets/general-icon/phone.svg" alt="">
            <span>+7 (8552) 70-70-67</span>
          </a>
          <button (click)="openEmployee(employeesContact_3)">
            <img src="../../../../assets/icon/search.svg" alt="">
            <span>Посмотреть сотрудников</span>
          </button>
        </div>

        <div>
          <span>
            Запасные части на <b>Европейские</b> грузовые
            автомобили, прицепы и полуприцепы
          </span>
          <a href="tel:+78552707101">
            <img src="../../../../assets/general-icon/phone.svg" alt="">
            <span>+7 (8552) 70-71-01</span>
          </a>
          <button (click)="openEmployee(employeesContact_4)">
            <img src="../../../../assets/icon/search.svg" alt="">
            <span>Посмотреть сотрудников</span>
          </button>
        </div>

      </div>

    </div>

    <div class="contacts-selling__shop-contact">
      <button (click)="dropdown($event)">
        <span>пос. Орловка</span>
        <div></div>
      </button>

      <div class="contacts-selling__shop-contact__info">

        <div>
          <div>
            <div><img src="../../../../assets/icon/geoposition.svg" alt=""></div>
            <span>г. Набережные Челны, <br/>
              пос. Орловка, ул. Центральная, 186
            </span>
          </div>

          <div>
            <div><img src="../../../../assets/icon/time.svg" alt=""></div>
            <span>
              Время работы: <br/>
              Понедельник-пятница (8:00-17:00) <br/>
              Суббота (8:00-13:00) <br/>
              Воскресенье (выходной) <br/>
            </span>
          </div>
        </div>

        <div>
          <span>
            Запасные части на грузовые автомобили и прицепы:
            <b>КАМАЗ, НЕФАЗ, УРАЛ, ЗИЛ, СЗАП, ТОНАР</b> <br/>
            Комплектующие на двс <b>CUMMINS, КПП ZF,</b>
            метизы, подшипники, РТИ, ремкомплекты
          </span>
          <a href="tel:+78552917111">
            <img src="../../../../assets/general-icon/phone.svg" alt="">
            <span>+7 (8552) 917-111</span>
          </a>
          <button (click)="openEmployee(employeesContact_5)">
            <img src="../../../../assets/icon/search.svg" alt="">
            <span>Посмотреть сотрудников</span>
          </button>
        </div>

        <div>
          <span>
            Запасные частей на грузовые автомобили <b>МАЗ</b> <br/>
            Комплектующие на двс <b>ЯМЗ, RENAULT</b>
          </span>
          <a href="tel:+78552917111">
            <img src="../../../../assets/general-icon/phone.svg" alt="">
            <span>+7 (8552) 32-20-59</span>
          </a>
          <button (click)="openEmployee(employeesContact_6)">
            <img src="../../../../assets/icon/search.svg" alt="">
            <span>Посмотреть сотрудников</span>
          </button>
        </div>

      </div>

    </div>

    <div class="contacts-selling__shop-contact">
      <button (click)="dropdown($event)">
        <span>ПГО Гараж-2000</span>
        <div></div>
      </button>

      <div class="contacts-selling__shop-contact__info">

        <div>
          <div>
            <div><img src="../../../../assets/icon/geoposition.svg" alt=""></div>
            <span>г. Набережные Челны, <br/>
              пр. Казанский (трасса М-7), 226/4 <br/>
              "ПГО ГАРАЖ-2000" бокс 4/2
            </span>
          </div>

          <div>
            <div><img src="../../../../assets/icon/time.svg" alt=""></div>
            <span>
              Время работы: <br/>
              Понедельник-пятница (8:00-17:00) <br/>
              Суббота (8:00-13:00) <br/>
              Воскресенье (выходной) <br/>
            </span>
          </div>
        </div>

        <div>
          <span>
            Запасные части на грузовые автомобили и прицепы:
            <b>КАМАЗ, НЕФАЗ, УРАЛ, ЗИЛ, СЗАП, ТОНАР</b> <br/>
            Комплектующие на двс <b>CUMMINS, КПП ZF,</b>
            метизы, подшипники, РТИ, ремкомплекты
          </span>
          <a href="tel:+78552917111">
            <img src="../../../../assets/general-icon/phone.svg" alt="">
            <span>+7 (8552) 918-111</span>
          </a>
          <button (click)="openEmployee(employeesContact_7)">
            <img src="../../../../assets/icon/search.svg" alt="">
            <span>Посмотреть сотрудников</span>
          </button>
        </div>

      </div>

    </div>

  </div>

  <div class="contacts-selling__main-info">
    <div class="contacts-selling__main-info__2-gis-map" id="gis"></div>

    <div>
      <div>
        <span>Вадим</span>
        <small>Менеджер отдела продаж запчастей к автомобилям КАМАЗ</small>
        <div>
          <a href="tel:+78552927111#1101">
            <img src="../../../../assets/general-icon/phone.svg" alt="">
            <span>+7 (8552) 927-111 (доб. 1101)</span>
          </a>
          <a href="mailto:vadim.p@midkam.ru">
            <img src="../../../../assets/general-icon/email.svg" alt="">
            <span>vadim.p@midkam.ru</span>
          </a>
        </div>
      </div>

      <div>
        <span>Анна</span>
        <small>Менеджер отдела продаж запчастей к автомобилям КАМАЗ</small>
        <div>
          <a href="tel:+78552927111#1102">
            <img src="../../../../assets/general-icon/phone.svg" alt="">
            <span>+7 (8552) 927-111 (доб. 1102)</span>
          </a>
          <a href="mailto:anna.k@midkam.ru">
            <img src="../../../../assets/general-icon/email.svg" alt="">
            <span>anna.k@midkam.ru</span>
          </a>
        </div>
      </div>

      <div>
        <span>Татьяна</span>
        <small>Менеджер отдела продаж запчастей к автомобилям КАМАЗ</small>
        <div>
          <a href="tel:+78552927111#1104">
            <img src="../../../../assets/general-icon/phone.svg" alt="">
            <span>+7 (8552) 927-111 (доб. 1104)</span>
          </a>
          <a href="mailto:tatyana.s@midkam.ru">
            <img src="../../../../assets/general-icon/email.svg" alt="">
            <span>tatyana.s@midkam.ru</span>
          </a>
        </div>
      </div>

      <div>
        <span>Зиля</span>
        <small>Менеджер отдела продаж запчастей к автомобилям КАМАЗ</small>
        <div>
          <a href="tel:+78552927111#1106">
            <img src="../../../../assets/general-icon/phone.svg" alt="">
            <span>+7 (8552) 927-111 (доб. 1106)</span>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="modal" *ngIf="modal">

  <div class="modal-background" (click)="close()"></div>

  <div class="modal-employee">

    <ul>
      <li *ngFor="let e of employees">
        <span>{{e.name}}</span>
        <small>{{e.post}}</small>
        <span>{{e.phone}}</span>
        <span>{{e.email}}</span>
      </li>
    </ul>

  </div>

</div>
