<div class="admin-banners">

    <div *ngIf="load; else loading">

        <div *ngif="!error; else empty">

            <form [formGroup]="form" (ngSubmit)="uploadBanner()">
                
                <label>
                    <span>Порядковый номер баннера</span>
                    <input type="number" formControlName="serialNumber">
                </label>

                <label>
                    <span>Ссылка на страницу</span>
                    <input type="url" formControlName="pageReference">
                </label>

                <label>
                    <div></div>
                    <span>Баннер главной страницы</span>
                    <input type="checkbox" formControlName="homePage">
                </label>

                <button type="submit">Загрузить</button>

            </form>

            <div *ngFor="let b of banners; let idx = index">
                <div>
                    <img [src]="b.url" alt="">
                </div>
                <a>Изменить</a>
            </div>

        </div>

        <ng-template #empty>
            <span>Что-то произошло не так. Повторите попытку позже.</span>
        </ng-template>

    </div>


    <ng-template #loading>
        <div class="admin-banners__loader">
        </div>
    </ng-template>

</div>

