<div class="container-landing">

  <a class="logo-landing" routerLink="/">
    <img src="../../assets/landing/logo.svg" alt="">
  </a>

  <ul class="reference">

    <li>
      <a href="tel:88007003132" style="background-color: #624684;">
        <div>
          <img src="../../assets/landing/call.svg" alt="">
        </div>
        <div>
          <span>Позвонить на 8-800-700-31-32</span>
          <small>бесплатно по РФ</small>
        </div>
      </a>
    </li>

    <li>
      <a href="https://wa.me/78007003132?text=Здравствуйте" style="background-color: #6bb253;">
        <div>
          <img src="../../assets/landing/whatsapp.svg" alt="">
        </div>
        <div>
          <span>Напишите нам</span>
          <small>в WhatsApp</small>
        </div>
      </a>
    </li>

    <li>
      <a href="https://t.me/midkam_bot?start=23123" style="background-color: #569bd6">
        <div>
          <img src="../../assets/landing/telegram.svg" alt="">
        </div>
        <div>
          <span>Или напишите нам</span>
          <small>в Телеграме</small>
        </div>
      </a>
    </li>

    <li>
      <a href="viber://pa?chatURI=midkam" style="background-color: #6b4395">
        <div>
          <img src="../../assets/landing/viber.svg" alt="">
        </div>
        <div>
          <span>Так же можете написать</span>
          <small>нам в Viber</small>
        </div>
      </a>
    </li>

    <li>
      <a href="https://instagram.com/midkam.ru" style="background: linear-gradient(90deg, #963DBB, #D13B7C, #FFC252)">
        <div>
          <img src="../../assets/landing/instagram.svg" alt="">
        </div>
        <div>
          <span>Наш инстаграм</span>
          <small>пишите в директ</small>
        </div>
      </a>
    </li>

    <li>
      <a href="https://vk.com/midkam_auto" style="background-color: #5c7cb1">
        <div>
          <img src="../../assets/landing/vk.svg" alt="">
        </div>
        <div>
          <span>Вконтакте с МИДКАМ</span>
          <small>обзоры, новинки, рекомендации</small>
        </div>
      </a>
    </li>

    <li>
      <a href="https://www.facebook.com/midkam.ru" style="background-color: #415998">
        <div>
          <img src="../../assets/landing/facebook.svg" alt="">
        </div>
        <div>
          <span>Facebook</span>
          <small>обзоры, новинки, рекомендации</small>
        </div>
      </a>
    </li>

    <li>
      <a href="https://midkam.ru" style="background-color: #614684">
        <div>
          <img src="../../assets/landing/site.svg" alt="">
        </div>
        <div>
          <span>Наш сайт</span>
          <small>делайте онлайн покупки</small>
        </div>
      </a>
    </li>

    <li>
      <a href="../../assets/landing/contact.vcf" style="background-color: #614684">
        <div>
          <img src="../../assets/landing/save.svg" alt="">
        </div>
        <div>
          <span>Сохраните контакты</span>
          <small>к себе в смартфон</small>
        </div>
      </a>
    </li>

  </ul>

</div>
