<div class="buyer">

  <nav class="breadcrumbs">
    <app-ng-dynamic-breadcrumb [bgColor]="'#ffffff'" symbol="" class="breadcrumbs-links"></app-ng-dynamic-breadcrumb>
  </nav>

  <ul>
    <li><a routerLink="/buyer/site-help">Помощь по сайту</a></li>
    <li><a routerLink="/buyer/individual-order">Индивидуальный заказ</a></li>
    <li><a routerLink="/buyer/delivery">Доставка</a></li>
    <li><a routerLink="/buyer/payment">Условия оплаты</a></li>
    <li><a routerLink="/buyer/guarantee">Гарантия и возврат</a></li>
    <li><a routerLink="/buyer/offer">Договор оферты</a></li>
    <li><a routerLink="/buyer/privacy-policy">Политика конфиденциальности</a></li>
  </ul>

</div>
