<div class="privacy-policy">

  <nav class="breadcrumbs">
    <app-ng-dynamic-breadcrumb [bgColor]="'#ffffff'" symbol="" class="breadcrumbs-links"></app-ng-dynamic-breadcrumb>
  </nav>

  <h1>Политика конфиденциальности</h1>

  <p>
    Мы признаем важность конфиденциальности информации. В этом документе описывается, какую личную информацию мы
    получаем и собираем, когда Вы пользуетесь сайтом. Мы надеемся, что эти сведения помогут Вам принимать осознанные
    решения в отношении предоставляемой нам личной информации.
  </p>

  <h2>1. Общедоступная информация и идентификация посетителей</h2>

  <p>
    На нашем сайте не предусмотрена система регистрации, поэтому если Вы просто просматриваете наш сайт, информация о
    Вас не публикуется нигде на сайте.
  </p>

  <h2>2. Телефонный номер, электронная почта и имя</h2>

  <p>
    Номер телефона, почта и имя, указываемые Вами при отправке заявки и заказе обратного звонка, не показываются другим
    посетителям сайта. Мы можем сохранять полученные данные и другие письма, отправленные Вами, чтобы обрабатывать Ваши
    заявки, отвечать на запросы клиентов и совершенствовать уровень обслуживания.
  </p>

  <h2>3. Цели сбора и обработки персональной информации пользователей</h2>

  <p>
    На сайте есть возможность заказа обратного звонка, отправки электронной почты и возможность оставить заявку на
    услуги. Ваше добровольное согласие на заказ обратного звонка и (или) отправку электронной почты и (или) оставление
    заявки на услуги подтверждается путем ввода Вашего Имени и Номера Телефона или Электронной Почты в форму заявки,
    форму отправки письма и в форму заказа обратного звонка. Ваше Имя используется для личного обращения к Вам, а Номер
    Телефона и/или Электронная Почта — для связи с Вами нашими сотрудниками для предложения наших услуг, ответа на Ваши
    вопросы и для других видов обработки Вашего обращения. Пользователь предоставляет свои данные добровольно, только
    после этого, в дальнейшем, с ним связывается наш сотрудник. Данные хранятся в архиве до тех пор, пока существует
    наша компания.
  </p>

  <h2>4. Условия обработки и её передачи третьим лицам</h2>

  <p>
    Ваши Имя и Номер телефона никогда и ни при каких условиях не будут переданы третьим лицам, исключая случаи, которые
    связаны с исполнением законодательства Российской Федерации.
  </p>

  <h2>5. Протоколирование</h2>

  <p>
    При каждом посещении сайта наши серверы автоматически записывают информацию, которую Ваш браузер передает при
    посещении веб-страниц. Как правило, эта информация включает запрашиваемую веб-страницу, IP-адрес компьютера, тип
    браузера, языковые настройки браузера, дату и время запроса, а также один или несколько файлов cookie, которые
    позволяют точно идентифицировать Ваш браузер.
  </p>

  <h2>6. Куки (cookie)</h2>

  <p>
    На сайте используются куки (Cookies), происходит сбор данных о посетителях с помощью сервисов Яндекс Метрика и
    Google Analitycs. Эти данные служат для сбора информации о действиях посетителей на сайте, для улучшения качества
    его содержания, возможностей и удобства использования. В любое время Вы можете изменить параметры в настройках
    Вашего браузера таким образом, чтобы браузер перестал передавать (сохранять) все файлы cookie, а также оповещал об
    их отправке. При этом следует учесть, что в этом случае некоторые сервисы и функции могут перестать работать.
  </p>

  <h2>7. Изменение политики конфиденциальности</h2>

  <p>
    На этой странице Вы сможете узнать о любых изменениях данной политики конфиденциальности. В особых случаях Вам будет
    выслана информация на Ваш телефон.
  </p>

  <h2>8. Затраты на доступ</h2>

  <p>
    Вы должны обеспечить за свой счет оборудование и подключение к Интернет, необходимые Вам для получения доступа к
    Сайту и его использования. Вы несете единоличную ответственность за любые затраты на доступ к Сайту через
    беспроводную связь или иные.
  </p>

</div>
