@import "../../../shared/styles/variables";

.privacy-policy {
  width: 100%;
  min-height: 50vh;
  margin: 0 auto 100px;

  h1, h2 {
    width: 100%;
    color: $black;
    line-height: 1;
    font-weight: 500;
    font-family: "Museo Sans Cyrl 500";
  }

  h1 {
    font-size: 18px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 16px;
    margin-top: 20px;
  }

  p {
    display: block;
    width: 100%;
    color: $black;
    font-size: 16px;
    line-height: 1;
    font-weight: 300;
    font-family: "Museo Sans Cyrl 300";
  }


}
