<div class="admin-parts">

  <h1>Список применяемости</h1>

  <div class="admin-parts__info" *ngIf="errorMessage || parts.length; else load">

    <form [formGroup]="form" (ngSubmit)="create()">
      <span>Создать автозапчасть</span>
      <label>
        <input class="admin-input" type="text" placeholder="Автозапчасть" formControlName="parts">
        <small *ngIf="form.controls['parts'].errors?.required">Поле не должно быть пустым</small>
      </label>
      <button class="admin-btn-action" type="submit" [disabled]="action || form.invalid">Создать</button>
      <small *ngIf="formError">{{formError}}</small>
    </form>

    <ng-container *ngIf="parts.length; else empty">
      <div *ngFor="let p of parts; let idx = index">
        <span>id: {{p.id}}</span>
        <a [routerLink]="['/', 'admin', 'parts', p.id]">Автозапчасть: {{p.autoPartsName}}</a>
      </div>
    </ng-container>

    <ng-template #empty>
      <span>{{errorMessage}}</span>
    </ng-template>

  </div>

  <ng-template #load>
    <div class="admin-loading">
      <div class="lds-dual-ring"></div>
    </div>
  </ng-template>

</div>
