<div class="us">

  <h1>О компании</h1>

  <form [formGroup]="form" (ngSubmit)="sbm()">

    <h1>TinyMCE 5 Angular Demo</h1>
    <editor
      formControlName="content"
      apiKey="0f9lormsql0w6b0ii16i0yfwmqcyeeco836d3kks5ia3wk2s"
      [init]="{
        base_url: '/tinymce',
        suffix: '.min',
        plugins: [
          'advlist autolink link image lists charmap print preview hr anchor pagebreak',
          'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
          'table emoticons template paste help quickbars'
        ],
        toolbar: [
          'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
          'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
          'forecolor backcolor emoticons | charmap hr pagebreak | help'
        ]
      }"
    >
    </editor>

    <button type="submit">Submit</button>
  </form>

  <div [innerHTML]="output">
  </div>

</div>
