@import "../../../shared/styles/variables";

.user-favorite {
  width: 100%;

  &__empty {
    margin: 37px auto 0;
    width: fit-content;
    display: flex;
    align-items: center;

    img {
      max-width: 93px;
    }

    span {
      display: block;
      width: fit-content;
      margin-left: 25px;
      color: $grey_normal;
      font-size: 26px;
      line-height: 1;
      font-family: 'Museo Sans Cyrl 700';
    }

  }

  &__info {
    width: 100%;

    > span {
      display: block;
      width: fit-content;
      margin: 37px auto;
      color: $grey_normal;
      font-size: 26px;
      line-height: 1;
      font-weight: 500;
      font-family: 'Museo Sans Cyrl 500';
    }

  }

}
