@import "../../../shared/styles/variables";

.user-favorite {
  width: 100%;

  &__empty {
    margin: 37px auto 0;
    width: fit-content;
    display: flex;
    align-items: center;

    img {
      max-width: 93px;
    }

    span {
      display: block;
      width: fit-content;
      margin-left: 25px;
      color: $grey_normal;
      font-size: 26px;
      line-height: 1;
      font-family: 'Museo Sans Cyrl 700';
    }

  }

  &__info {
    width: 100%;

    > span {
      display: block;
      width: fit-content;
      margin: 37px auto;
      color: $grey_normal;
      font-size: 26px;
      line-height: 1;
      font-family: 'Museo Sans Cyrl 500';
    }

    > div {

      hr {
        border: none;
        border-bottom: 2px solid $border_grey;
      }

      > div {
        width: 100%;
        display: flex;
        padding: 2px 0;
        border-bottom: 2px solid $border_grey;
      }
    }

    &__image {
      flex-basis: 7%;
      position: relative;

      > img {
        max-height: 62px;
        max-width: 100%;
        margin: 0 auto;
      }

      &:hover > span {
        opacity: 1;
        visibility: visible;
      }

      span {
        visibility: hidden;
        position: absolute;
        z-index: 3;
        top: 0;
        left: 100%;
        display: block;
        border-radius: 10px;
        background-color: #ffffff;
        opacity: 0;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
        transition: opacity 0.5s;

        img {
          max-width: 160px;
          border-radius: 10px;
          position: relative;
          z-index: 3;
        }
      }

    }

    &__title{
      flex-basis: 33%;
      display: flex;
      align-items: center;
      padding-left: 7px;
      padding-right: 34px;

      a {
        color: $black;
        font-size: 13px;
        line-height: 1;
        font-family: 'Museo Sans Cyrl 700';
        &:hover {
          color: $black-hover;
        }
      }

    }

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-basis: 12%;

      span {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        color: $grey_normal;
        font-size: 12px;
        line-height: 1;
        font-family: 'Museo Sans Cyrl 500';
      }

    }

    &__manufacturer {
      flex-basis: 12%;
      margin: 0 1%;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
          color: $grey_normal;
          font-size: 12px;
          line-height: 1;
          font-family: 'Museo Sans Cyrl 500';
        }

        img {
          margin: 0 auto;
          max-width: 100%;
          opacity: 1;
        }

        &:hover {
          img {
            opacity: 0.7;
          }
          span {
            color: $grey_normal-hover;
          }
        }
      }

    }

    &__price {
      flex-basis: 12%;
      display: flex;
      align-items: center;
      padding-right: 5px;

      span {
        color: $black;
        font-size: 15px;
        line-height: 1;
        font-family: 'Museo Sans Cyrl 700';
      }
    }

    &__quantity {
      flex-basis: 9%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      > div{
        width: 78px;
        height: 25px;
      }

    }

    &__to-order {
      flex-basis: 10%;
      display: flex;
      align-items: center;
      justify-content: center;

      > button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 36px;
        width: 100%;
        max-width: 100px;
        background-color: #ffffff;
        border: 2px solid $yellow;
        border-radius: 10px;
        text-transform: uppercase;
        color: $black;
        font-size: 14px;
        line-height: 1;
        font-family: 'Museo Sans Cyrl 300';
        cursor: pointer;

        &:hover {
          background-color: rgba(255, 208, 28, 0.3);
        }

        &:disabled {
          cursor: not-allowed;

          &:hover {
            background-color: transparent;
          }
        }
      }

      >div {
        width: 100%;
        max-width: 100px;
        height: 36px;
        display: flex;

        input, button {
          width: 33.3%;
          height: 100%;
        }

        input {
          background-color: $yellow-hover;
          color: $black;
          font-size: 16px;
          line-height: 1;
          text-align: center;
          font-family: 'Museo Sans Cyrl 500';
          &:disabled {
            background-color: $yellow-hover;
          }
        }

        button {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          background-color: $yellow;
          cursor: pointer;

          &:before, span {
            content: '';
            display: block;
            position: absolute;
            width: 40%;
            height: 0;
            border-top: 2px solid $black;
          }
          span {
            transform: rotate(90deg);
          }

          &:disabled {
            cursor: not-allowed;
          }
        }

        > button:first-child {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }

        > button:last-child {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }

    }

    &__delete {
      flex-basis: 3%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      button {
        width: fit-content;
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: $grey_normal;
        font-size: 24px;
        line-height: 1;
        font-family: "Museo Sans Cyrl 300";

        &:hover {
          color: $grey_normal-hover;
        }
      }

    }

  }

}
