$yellow: #fdcb00;
$yellow-hover: rgba(253, 203, 0, 0.3);
$violet: #724684;
$violet-hover: rgba(114, 70, 132, 0.6);
$grey_light: #f5f5f5;
$grey_light-hover: rgba(245, 245, 245, 0.5);
$grey_easy: #ebecec;
$grey_easy-hover: rgba(235, 236, 236, 0.5);
$grey_normal: #898989;
$grey_normal-hover: rgba(137, 137, 137, 0.5);
$grey_dark: #5b5b5b;
$grey_dark-hover: rgba(91, 91, 91, 0.5);
$black: #373736;
$black-hover: rgba(55, 55, 54, 0.7);

$green: #2eb368;
$green-hover: rgba(46, 179, 104, 0.5);

$border_grey: #b0b1b5;

$header-footer_background: #1e212f;
