@import "../../../../shared/styles/variables";

.admin-certificates-edit {
  width: 100%;
  margin: 0 auto;

  > h1 {
    margin-bottom: 20px;
    color: $black;
    font-size: 36px;
    line-height: 1;
    font-family: "Museo Sans Cyrl 700";
  }

  &__content {

    > span {
      display: block;
      font-size: 24px;
      line-height: 1;
      font-family: "Museo Sans Cyrl 500";
    }

    > a {
      display: block;
      width: fit-content;
      color: $violet;
      font-size: 16px;
      line-height: 1;
      font-family: "Museo Sans Cyrl 300";
      &:hover {
        color: $violet-hover;
      }
    }

    > form {
      width: 100%;
      margin-bottom: 20px;

      > div {
        width: 100%;
        height: 700px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-width: 100%;
          max-height: 700px;
        }

      }

      > label {
        display: block;
        margin-bottom: 10px;
        width: 100%;

        span {
          display: inline-block;
          width: fit-content;
          color: $black;
          font-size: 16px;
          line-height: 1;
          font-family: "Museo Sans Cyrl 300";
        }

        input {
          padding: 3px;
          width: 3em;
          margin-left: 10px;
          background-color: $grey_light;
          border: 1px solid $border_grey;
          text-align: center;
          color: $black;
          font-size: 16px;
          line-height: 1;
          font-family: "Museo Sans Cyrl 300";
        }

        small {
          display: block;
          margin-top: 5px;
          color: red;
          font-size: 14px;
          line-height: 1;
          font-family: "Museo Sans Cyrl 100";
        }
      }

      > button {
        display: block;
        width: fit-content;
        margin-top: 20px;
        padding: 10px 60px;
        background-color: $yellow;
        border: none;
        border-radius: 10px;
        text-transform: uppercase;
        color: $violet;
        font-size: 16px;
        line-height: 1;
        font-family: "Museo Sans Cyrl 300";
        cursor: pointer;

        &:disabled {
          background-color: $grey_easy;
          cursor: not-allowed;
        }
      }

      > span, > small {
        display: block;
        margin-top: 5px;
        font-size: 12px;
        line-height: 1;
        font-family: "Museo Sans Cyrl 100";
      }

      > span {
        color: $green;
      }

      > small {
        color: red;
      }

    }

    > div {
      margin-bottom: 20px;

      button {
        display: block;
        width: fit-content;
        padding: 10px 60px;
        margin-bottom: 5px;
        background-color: red;
        border: none;
        border-radius: 10px;
        text-transform: uppercase;
        color: #ffffff;
        font-size: 16px;
        line-height: 1;
        font-family: "Museo Sans Cyrl 300";
        cursor: pointer;

        &:disabled {
          color: $violet;
          background-color: $grey_easy;
          cursor: not-allowed;
        }
      }

      small {
        display: block;
        color: red;
        font-size: 12px;
        line-height: 1;
        font-family: "Museo Sans Cyrl 100";
      }
    }

  }

}
