<div class="catalog-type-container">

  <nav class="breadcrumbs">
    <app-ng-dynamic-breadcrumb class="breadcrumbs-links" symbol="" [bgColor]="'#ffffff'"></app-ng-dynamic-breadcrumb>
  </nav>

  <div>

    <div class="catalog-type-avto-column">

      <div class="catalog-type-avto-column__item">
        <div>
          <img src="../../../../assets/catalog/type-avto/dvigatel.png">
        </div>
        <span>Двигатели</span>
        <ul>
          <li><a routerLink="/catalog" [state]="{filter: '10. Двигатель'}">10. Двигатель</a></li>
          <li><a routerLink="/catalog" [state]="{filter: '11. Система питания двигателя'}">11. Система питания двигателя</a></li>
          <li><a routerLink="/catalog" [state]="{filter: '12. Система выпуска газов двигателя'}">12. Система выпуска газов двигателя</a></li>
          <li><a routerLink="/catalog" [state]="{filter: '13. Система охлаждения'}">13. Система охлаждения</a></li>
        </ul>
      </div>

      <div class="catalog-type-avto-column__item">
        <div>
          <img src="../../../../assets/catalog/type-avto/hodovaya.png">
        </div>
        <span>Ходовая часть</span>
        <ul>
          <li><a routerLink="/catalog" [state]="{filter: '28. Рама'}">28. Рама</a></li>
          <li><a routerLink="/catalog" [state]="{filter: '29. Подвеска автомобиля'}">29. Подвеска автомобиля</a></li>
          <li><a routerLink="/catalog" [state]="{filter: '30. Ось передняя, задняя для переднеприводных'}">30. Ось передняя, задняя для переднеприводных</a></li>
          <li><a routerLink="/catalog" [state]="{filter: '31. Колеса, шины и ступицы'}">31. Колеса, шины и ступицы</a></li>
        </ul>
      </div>

      <div class="catalog-type-avto-column__item">
        <div>
          <img src="../../../../assets/catalog/type-avto/electro.png">
        </div>
        <span>Электрооборудование</span>
        <ul>
          <li><a routerLink="/catalog" [state]="{filter: '37. Электрооборудование'}">37. Электрооборудование</a></li>
          <li><a routerLink="/catalog" [state]="{filter: '38. Приборы'}">38. Приборы</a></li>
        </ul>
      </div>

    </div>

    <div class="catalog-type-avto-column">

      <div class="catalog-type-avto-column__item">
        <div>
          <img src="../../../../assets/catalog/type-avto/transmisia.png">
        </div>
        <span>Трансмиссия</span>
        <ul>
          <li><a routerLink="/catalog" [state]="{filter: '16. Сцепление'}">16. Сцепление</a></li>
          <li><a routerLink="/catalog" [state]="{filter: '17. Коробка передач'}">17. Коробка передач</a></li>
          <li><a routerLink="/catalog" [state]="{filter: '18. Коробка раздаточная'}">18. Коробка раздаточная</a></li>
          <li><a routerLink="/catalog" [state]="{filter: '22. Передача карданная'}">22. Передача карданная</a></li>
          <li><a routerLink="/catalog" [state]="{filter: '23. Мост передний (ведущий)'}">23. Мост передний (ведущий)</a></li>
          <li><a routerLink="/catalog" [state]="{filter: '24. Мост задний'}">24. Мост задний</a></li>
          <li><a routerLink="/catalog" [state]="{filter: '25. Мост средний (промежуточный)'}">25. Мост средний (промежуточный)</a></li>
        </ul>
      </div>

      <div class="catalog-type-avto-column__item">
        <div>
          <img src="../../../../assets/catalog/type-avto/upravlenie.png">
        </div>
        <span>Механизмы управления</span>
        <ul>
          <li><a routerLink="/catalog" [state]="{filter: '34. Управление рулевое'}">34. Управление рулевое</a></li>
          <li><a routerLink="/catalog" [state]="{filter: '35. Тормоза'}">35. Тормоза</a></li>
        </ul>
      </div>

      <div class="catalog-type-avto-column__item">
        <div>
          <img src="../../../../assets/catalog/type-avto/dopolnitelnoe.png">
        </div>
        <span>Дополнительное оборудование</span>
        <ul>
          <li><a routerLink="/catalog" [state]="{filter: '27. Устройство седельно-сцепное'}">27. Устройство седельно-сцепное</a></li>
          <li><a routerLink="/catalog" [state]="{filter: '42. Коробка отбора мощности'}">42. Коробка отбора мощности</a></li>
          <li><a routerLink="/catalog" [state]="{filter: '45. Лебедка и принадлежности'}">45. Лебедка и принадлежности</a></li>
          <li><a routerLink="/catalog" [state]="{filter: '46. Оборудование навесное'}">46. Оборудование навесное</a></li>
          <li><a routerLink="/catalog" [state]="{filter: '47. Оборудование дополнительное'}">47. Оборудование дополнительное</a></li>
        </ul>
      </div>

    </div>

    <div class="catalog-type-avto-column">

      <div class="catalog-type-avto-column__item">
        <div>
          <img src="../../../../assets/catalog/type-avto/kuzov.png">
        </div>
        <span>Кузов</span>
        <ul>
          <li><a routerLink="/catalog" [state]="{filter: '50. Кабина'}">50. Кабина</a></li>
          <li><a routerLink="/catalog" [state]="{filter: '51. Основание, пол кабины'}">51. Основание, пол кабины</a></li>
          <li><a routerLink="/catalog" [state]="{filter: '52. Окно ветровое и заднее'}">52. Окно ветровое и заднее</a></li>
          <li><a routerLink="/catalog" [state]="{filter: '53. Передок кабины'}">53. Передок кабины</a></li>
          <li><a routerLink="/catalog" [state]="{filter: '54. Боковина кабины'}">54. Боковина кабины</a></li>
          <li><a routerLink="/catalog" [state]="{filter: '56. Задок кабины'}">56. Задок кабины</a></li>
          <li><a routerLink="/catalog" [state]="{filter: '57. Крыша кабины'}">57. Крыша кабины</a></li>
          <li><a routerLink="/catalog" [state]="{filter: '61. Дверь кабины передняя'}">61. Дверь кабины передняя</a></li>
          <li><a routerLink="/catalog" [state]="{filter: '62. Дверь задняя'}">62. Дверь задняя</a></li>
          <li><a routerLink="/catalog" [state]="{filter: '63. Дверь задка кузова'}">63. Дверь задка кузова</a></li>
          <li><a routerLink="/catalog" [state]="{filter: '68. Сиденье водительское'}">68. Сиденье водительское</a></li>
          <li><a routerLink="/catalog" [state]="{filter: '69. Сиденье пассажирское'}">69. Сиденье пассажирское</a></li>
          <li><a routerLink="/catalog" [state]="{filter: '80. Оборудование специализированное'}">80. Оборудование специализированное</a></li>
          <li><a routerLink="/catalog" [state]="{filter: '81. Отопление и вентиляция кабины'}">81. Отопление и вентиляция кабины</a></li>
          <li><a routerLink="/catalog" [state]="{filter: '82. Принадлежности кабины'}">82. Принадлежности кабины</a></li>
          <li><a routerLink="/catalog" [state]="{filter: '84. Оперение кабины (капот, крылья, облицовка)'}">84. Оперение кабины (капот, крылья, облицовка)</a></li>
          <li><a routerLink="/catalog" [state]="{filter: '85. Платформа'}">85. Платформа</a></li>
          <li><a routerLink="/catalog" [state]="{filter: '86. Устройство подъемное и опрокидывающее платформы'}">86. Устройство подъемное и опрокидывающее платформы</a></li>
        </ul>
      </div>

      <div class="catalog-type-avto-column__item">
        <div>
          <img src="../../../../assets/catalog/type-avto/instrumenti.png">
        </div>
        <span>Шоферские принадлежности</span>
        <ul>
          <li><a routerLink="/catalog" [state]="{filter: '39. Инструменты и принадлежности'}">39. Инструменты и принадлежности</a></li>
        </ul>
      </div>

    </div>

  </div>

</div>
