<div class="catalog-type-container">

  <nav class="breadcrumbs">
    <app-ng-dynamic-breadcrumb class="breadcrumbs-links" symbol="" [bgColor]="'#ffffff'"></app-ng-dynamic-breadcrumb>
  </nav>

  <div>

    <div class="catalog-type-avto-column">

      <div class="catalog-type-avto-column__item">
        <div>
          <img src="../../../../assets/catalog/type-avto/dvigatel.png">
        </div>
        <span>Двигатели</span>
        <ul>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 10}">10. Двигатель</a></li>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 11}">11. Система питания двигателя</a></li>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 12}">12. Система выпуска газов двигателя</a></li>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 13}">13. Система охлаждения</a></li>
        </ul>
      </div>

      <div class="catalog-type-avto-column__item">
        <div>
          <img src="../../../../assets/catalog/type-avto/hodovaya.png">
        </div>
        <span>Ходовая часть</span>
        <ul>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 28}">28. Рама</a></li>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 29}">29. Подвеска автомобиля</a></li>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 30}">30. Ось передняя, задняя для переднеприводных</a></li>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 31}">31. Колеса, шины и ступицы</a></li>
        </ul>
      </div>

      <div class="catalog-type-avto-column__item">
        <div>
          <img src="../../../../assets/catalog/type-avto/electro.png">
        </div>
        <span>Электрооборудование</span>
        <ul>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 37}">37. Электрооборудование</a></li>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 38}">38. Приборы</a></li>
        </ul>
      </div>

    </div>

    <div class="catalog-type-avto-column">

      <div class="catalog-type-avto-column__item">
        <div>
          <img src="../../../../assets/catalog/type-avto/transmisia.png">
        </div>
        <span>Трансмиссия</span>
        <ul>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 16}">16. Сцепление</a></li>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 17}">17. Коробка передач</a></li>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 18}">18. Коробка раздаточная</a></li>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 22}">22. Передача карданная</a></li>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 23}">23. Мост передний (ведущий)</a></li>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 24}">24. Мост задний</a></li>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 25}">25. Мост средний (промежуточный)</a></li>
        </ul>
      </div>

      <div class="catalog-type-avto-column__item">
        <div>
          <img src="../../../../assets/catalog/type-avto/upravlenie.png">
        </div>
        <span>Механизмы управления</span>
        <ul>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 34}">34. Управление рулевое</a></li>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 35}">35. Тормоза</a></li>
        </ul>
      </div>

      <div class="catalog-type-avto-column__item">
        <div>
          <img src="../../../../assets/catalog/type-avto/dopolnitelnoe.png">
        </div>
        <span>Дополнительное оборудование</span>
        <ul>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 27}">27. Устройство седельно-сцепное</a></li>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 42}">42. Коробка отбора мощности</a></li>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 45}">45. Лебедка и принадлежности</a></li>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 46}">46. Оборудование навесное</a></li>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 47}">47. Оборудование дополнительное</a></li>
        </ul>
      </div>

    </div>

    <div class="catalog-type-avto-column">

      <div class="catalog-type-avto-column__item">
        <div>
          <img src="../../../../assets/catalog/type-avto/kuzov.png">
        </div>
        <span>Кузов</span>
        <ul>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 50}">50. Кабина</a></li>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 51}">51. Основание, пол кабины</a></li>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 52}">52. Окно ветровое и заднее</a></li>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 53}">53. Передок кабины</a></li>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 55}">54. Боковина кабины</a></li>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 56}">56. Задок кабины</a></li>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 57}">57. Крыша кабины</a></li>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 61}">61. Дверь кабины передняя</a></li>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 62}">62. Дверь задняя</a></li>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 63}">63. Дверь задка кузова</a></li>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 68}">68. Сиденье водительское</a></li>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 69}">69. Сиденье пассажирское</a></li>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 80}">80. Оборудование специализированное</a></li>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 81}">81. Отопление и вентиляция кабины</a></li>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 82}">82. Принадлежности кабины</a></li>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 84}">84. Оперение кабины (капот, крылья, облицовка)</a></li>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 85}">85. Платформа</a></li>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 86}">86. Устройство подъемное и опрокидывающее платформы</a></li>
        </ul>
      </div>

      <div class="catalog-type-avto-column__item">
        <div>
          <img src="../../../../assets/catalog/type-avto/instrumenti.png">
        </div>
        <span>Шоферские принадлежности</span>
        <ul>
          <li><a routerLink="/catalog" [state]="{numberViewDetails: 39}">39. Инструменты и принадлежности</a></li>
        </ul>
      </div>

    </div>

  </div>

</div>
