.catalog-type-avto-column {
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  flex-basis: 33.1%;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      //height: 183px;
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;

      img {
        //max-width: 100%;
        max-height: 129px;
      }

    }

    span {
      font-family: 'Museo Sans Cyrl 500';
      font-size: 17px;
      line-height: 17px;
      margin: 16px 0 2px 0;
    }

    ul {
      width: 100%;
      background-color: #efefef;
      padding: 11px 29px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      li {
        margin-bottom: 3px;
        a {
          font-family: 'Museo Sans Cyrl 300';
          font-size: 14px;
        }

        a:hover {
          color: rgba(0, 0, 0, 0.5);
        }

      }
      li:last-child {
        margin-bottom: 0;
      }

    }

  }

}

.catalog-type-container>div {
  margin-top: 30px;
}

.catalog-type-container>div>div:first-child>div:nth-child(2) {
  margin-top: 31px;
}
.catalog-type-container>div>div:first-child>div:last-child {
  margin-top: auto;
}

.catalog-type-container>div>div:nth-child(2)>div:nth-child(2) {
  margin-top: 13px;
}

.catalog-type-container>div>div:nth-child(2)>div:last-child {
  margin-top: 15px;
}

.catalog-type-container>div>div:last-child>div:last-child {
  margin-top: auto;
}
