<div class="background">

    <div class="container">

        <div class="main">

            <img src="https://706622.selcdn.ru/midkam_bucket/ForEmailLetter/Logo_Text.svg" alt="Мидкам">

            <h1>Смена Email</h1>
            <h2>Уважаемый пользователь,</h2>

            <p>
                Вы запросили смену Вашего Email на сайте www.midkam.ru <br>
                Чтобы поменять Email на указаный, пройдите по следующей ссылке и следуйте дальнейшим инструкциям.
            </p>

            <a href="{{url}}">Данная ссылка будет действительна в течение 24 часов.</a>
            <hr>

            <p>
                Напоминаем, email является логином для входа на сайт.
                После перехода по ссылке, логином станет данный Email.
            </p>
            <p>
                С уважением, <br>
                Администрация МИДКАМ
            </p>
        </div>

        <div class="footer">
            <span>© www.midkam.ru 1997-2021</span>
            <a href="http://midkam.ru/profile">Перейти в личный кабинет</a>
        </div>

    </div>

</div>

<style>

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .background {
        width: 100%;
        padding: 28px 0 47px;
        background-color: #ebecec;
    }

    .container {
        margin: 0 auto;
        max-width: 661px;
    }

    .main {
        padding: 30px 30px 40px;
        background-color: #ffffff;
    }

    .main img {
        display: block;
        max-width: 100%;
        max-height: 60px;
        margin: 0 auto;
    }

    .main h1, .main p, .main a, .main h2 {
        display: block;
    }

    .main h1 {
        margin-top: 39px;
        margin-bottom: 21px;
        font-family: 'Museo Sans Cyrl 700', 'Verdana', 'Geneva', sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 1;
    }

    .main h2 {
        margin-bottom: 25px;
        font-family: 'Museo Sans Cyrl 700', 'Verdana', 'Geneva', sans-serif;
        font-size: 16px;
        line-height: 1;
        font-weight: 500;
    }

    .main p {
        font-family: 'Museo Sans Cyrl 500', 'Verdana', 'Geneva', sans-serif;
        font-weight: 500;
        font-size: 13px;
        line-height: 1;
    }

    .main a {
        font-family: 'Museo Sans Cyrl 500', 'Verdana', 'Geneva', sans-serif;
        font-size: 16px;
        line-height: 1;
        font-weight: 500;
        text-decoration: none;
        color: #724684;
        margin-top: 20px;
        margin-bottom: 7px;
    }

    .main hr {
        border: none;
        border-top: 2px solid #808080;
        margin-bottom: 15px;
    }

    .main>p:last-child {
        margin-top: 24px;
    }


    .footer {
        background-color: transparent;
        margin-top: 18px;
        padding: 0 30px;
    }

    .footer>span, .footer>a {
        font-family: 'Museo Sans Cyrl 300', 'Verdana', 'Geneva', sans-serif;
        font-size: 14px;
        line-height: 1;
        font-weight: 300;
        color: #808080;
        display: block;
        width: fit-content;
    }

    .footer>span:first-child {
        margin-right: auto;
        float: left;
    }

    .footer>a:last-child {
        margin-left: auto;
        text-decoration: underline;
    }

    .footer>a:last-child:hover {
        text-decoration: none;
    }

    @media (max-width: 500px) {
        .footer>span:first-child {
            float: none;
        }

        .footer>a:last-child, .footer>span:first-child {
            width: fit-content;
            margin: 0 auto 10px;
        }
    }

</style>
