<div class="contacts">

  <span>Контакты</span>

  <div class="contacts__department">
    <a routerLink="/contacts/selling" routerLinkActive="contacts__department_active">
      <div>
        <img src="../../assets/contacts/prodaji.png" alt="">
      </div>
      <span>Отдел продаж</span>
    </a>

    <a routerLink="/contacts/purchase" routerLinkActive="contacts__department_active">
      <div>
        <img src="../../assets/contacts/snabjenie.png" alt="">
      </div>
      <span>Отдел снабжения</span>
    </a>

    <a routerLink="/contacts/export" routerLinkActive="contacts__department_active">
      <div>
        <img src="../../assets/contacts/export.png" alt="">
      </div>
      <span>Отдел экспорта</span>
    </a>

    <a routerLink="/contacts/marketing" routerLinkActive="contacts__department_active">
      <div>
        <img src="../../assets/contacts/marketing.png" alt="">
      </div>
      <span>Отдел маркетинга</span>
    </a>

    <a routerLink="/contacts/bookkeeping" routerLinkActive="contacts__department_active">
      <div>
        <img src="../../assets/contacts/buhgalteria.png" alt="">
      </div>
      <span>Бухгалтерия</span>
    </a>
  </div>

  <div class="contacts__content">

    <router-outlet></router-outlet>

  </div>

</div>
