@import "../shared/styles/variables";

.manufacturer {
  width: 100%;
  margin: 0 auto;

  > button {
    display: block;
    margin: 50px auto;
    padding: 13px 0;
    width: 100%;
    max-width: 250px;
    background-color: #ffffff;
    border: 2px solid $yellow;
    border-radius: 10px;
    text-align: center;
    color: $black;
    font-size: 15px;
    line-height: 1;
    font-family: 'Museo Sans Cyrl 500';
    cursor: pointer;
    &:hover {
      background-color: $yellow-hover;
    }
    &:disabled {
      border: 2px solid $grey_easy;
      background-color: $grey_easy;
      cursor: not-allowed;
    }
  }
}

.sort {
  margin: 30px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px 0;

  &__cyrillic, &__latin, &__search {
    flex-basis: 33%;
  }

  &__cyrillic, &__latin {
    position: relative;
    background-color: $grey_easy;
    padding: 10px 15px;
    display: flex;
    border-radius: 10px;
    gap: 0 5px;

    label {
      display: block;
      position: relative;
      cursor: pointer;

      input[type="radio"] {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
        width: 0;
        height: 0;
      }

      input[type="radio"]:checked + span {
        color: $violet;
      }

      span {
        font-size: 16px;
        line-height: 1;
        font-family: 'Museo Sans Cyrl 700';
      }
    }
    .cancel {
      position: absolute;
      right: 5px;
      cursor: pointer;
      color: $black;
      &:hover {
        color: $black-hover;
      }
    }
  }

  &__search {
    position: relative;

    input[type='text'] {
      width: 100%;
      padding: 10px 17px;
      background-color: $grey_easy;
      border-radius: 10px;
      color: $black;
      line-height: 1;
      font-size: 16px;
      font-family: "Museo Sans Cyrl 300";
    }

    input[type="text"]:focus + ul {
      display: block;
    }

    &__result {
      display: none;
      width: 100%;
      position: absolute;
      background-color: #ffffff;
      z-index: 5;
      top: 100%;
      left: 0;
      right: 0;
      list-style: none;
      box-shadow: 0px 4px 10px rgb(0 0 0 / 50%);

      li>a {
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;

        img {
          max-width: 100%;
        }

        span {
          display: block;
          margin-left: 15px;
          color: $black;
          line-height: 1;
          font-size: 16px;
          font-family: "Museo Sans Cyrl 300";
        }

        &:hover {
          background-color: $yellow-hover;
        }
      }

      &:hover {
        display: block;
      }
    }

  }

}

.location {
  width: 100%;
  display: flex;
  gap: 0 1%;

  &__region, &__country {
    flex-basis: 49%;
    max-width: 300px;
    position: relative;

    button {
      position: relative;
      display: flex;
      width: 100%;
      padding: 11px 13px;
      background-color: $grey_easy;
      border: none;
      border-radius: 10px;
      text-align: start;
      cursor: pointer;
      &:disabled {
        cursor: not-allowed;
        background-color: $grey_light;
      }

      span {
        color: $black;
        font-size: 17px;
        line-height: 1;
        font-family: 'Museo Sans Cyrl 500';
      }

      div {
        position: absolute;
        transform: rotateX(0deg) rotate(45deg);
        top: 10px;
        right: 13px;
        width: 13px;
        height: 13px;
        border-width: 2px;
        border-style: solid;
        border-color: transparent $violet $violet transparent;
        transition: transform 1s, top 0.6s;
      }

      div.drop {
        top: 16px;
        transform: rotateX(180deg) rotate(45deg);
        transition: transform 1s, top 0.6s;
      }
    }

    ul {
      max-height: 0px;
      list-style: none;
      position: absolute;
      z-index: 2;
      background-color: #ffffff;
      top: 100%;
      left: 0;
      right: 0;
      overflow: auto;
      box-shadow: 0px 4px 10px rgb(0 0 0 / 50%);
      transition: max-height 1s;

      &::-webkit-scrollbar {
        //это фон самого скроллбара
        background-color: $grey_easy;
      }

      &::-webkit-scrollbar-button {
        //кнопки направления на полосе прокрутки
        display: none;
      }

      &::-webkit-scrollbar-track {
        //пустое пространство под индикатором прокрутки
      }

      &::-webkit-scrollbar-thumb {
        //индикатор прокрутки, перетаскиваемый элемент.
        background-color: $yellow;
      }

      li {
        padding: 14px 7px;
        width: 100%;
        color: $black;
        line-height: 1;
        font-size: 14px;
        font-family: "Museo Sans Cyrl 300";
        cursor: pointer;
        &:hover {
          background-color: $yellow-hover;
        }
      }

    }
    ul.drop {
      transition: max-height 1s;
    }
    &_active {
      background-color: $yellow;
    }
  }

  &__region {
    ul.drop {
      max-height: 300px;
    }
  }

  &__country {
    ul.drop {
      max-height: 600px;
    }
  }

}

.result {
  margin-top: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 12%);
  justify-content: space-between;
  grid-gap: 10px 0;

  a {

    div {
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      height: 150px;

      img {
        max-width: 100%;
        max-height: 150px;
      }
    }

    span {
      display: block;
      margin-top: 20px;
      text-align: center;
      color: $black;
      font-size: 14px;
      line-height: 1;
      font-family: 'Museo Sans Cyrl 500';
    }

    &:hover {
      background-color: $grey_easy-hover;
    }
  }

}

.empty-error {
  margin: 30px 0;
  width: 100%;
  text-align: center;

  span {
    color: $grey_normal;
    font-size: 24px;
    line-height: 1;
    font-family: "Museo Sans Cyrl 500";
  }
}

@media (max-width: 768px) {

  .breadcrumbs {
    margin-bottom: 10px;
  }

  .sort {
    margin-bottom: 20px;
    gap: 15px 0;

    &__cyrillic, &__latin, &__search {
      flex-basis: 100%;
    }

    &__cyrillic, &__latin {
      padding: 15px 20px;
      border-radius: 0;
      gap: 0 7px;

      label {

        span {
          font-size: 19px;
        }
      }
    }

    &__search {
      position: relative;

      input[type='text'] {
        padding: 12px 19px;
        border-radius: 0;
        font-size: 20px;
      }

      &__result {
        max-height: 150px;
        overflow: auto;

        li>a {

          img {
            max-height: 30px;
          }

          span {
            margin-left: 10px;}

        }
      }

    }

  }

  .location {
    flex-wrap: wrap;
    gap: 10px 0;

    &__region, &__country {
      flex-basis: 100%;
      max-width: unset;

      button {
        border-radius: 0;

        span {
          font-size: 16px;
        }

        div {
          position: absolute;
          transform: rotateX(0deg) rotate(45deg);
          top: 10px;
          right: 13px;
          width: 13px;
          height: 13px;
          border-width: 2px;
          border-style: solid;
          border-color: transparent $violet $violet transparent;
          transition: transform 1s, top 0.6s;
        }

        div.drop {
          top: 16px;
          transform: rotateX(180deg) rotate(45deg);
          transition: transform 1s, top 0.6s;
        }
      }

      ul {

        li {
        }

      }
    }

    &__region, &__country {
      ul.drop {
        max-height: 150px;
      }
    }

  }

  .result {
    margin: 30px auto 0;
    width: 93%;
    grid-template-columns: repeat(auto-fill, 33%);
    grid-gap: 25px 0;

    a {

      div {
      }

      span {
        margin-top: 15px;
      }
    }

  }

}

@media (max-width: 550px) {

  .sort {
    margin-bottom: 12px;
    gap: 12px 0;

    &__cyrillic, &__latin {
      padding: 12px 16px;
      gap: 0 6px;

      label {

        span {
          font-size: 13px;
        }
      }
    }

    &__search {
      position: relative;

      input[type='text'] {
        padding: 12px 16px;
        font-size: 17px;
      }

      &__result {

        li>a {

          img {
            max-height: 25px;
          }

          span {
            margin-left: 5px;}

        }
      }

    }

  }

  .result {

    a {

      div {
        height: 100px;

        img {
          max-height: 100px;
        }
      }

      span {
        margin-top: 10px;
      }
    }

  }

}

@media (max-width: 420px) {

  .sort {
    margin-bottom: 10px;
    gap: 10px 0;

    &__cyrillic, &__latin {
      padding: 9px 13px;
      gap: 0 5px;

      label {

        span {
          font-size: 11.5px;
        }
      }
    }

    &__search {
      position: relative;

      input[type='text'] {
        padding: 12px 16px;
        font-size: 17px;
      }

      &__result {

        li>a {

          img {
            max-height: 25px;
          }

          span {
            margin-left: 5px;}

        }
      }

    }

  }

  .result {
    margin: 25px auto 0;

    a {

      div {
        height: 80px;

        img {
          max-height: 80px;
        }
      }

      span {
        margin-top: 13px;
        font-size: 9px;
      }
    }

  }

}
