@import "../../../shared/styles/variables";

.general-contacts {
  width: 100%;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;

  &__work-time {
    width: 360px;

    > div {
      margin-bottom: 19px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: start;

      > div {
        width: 30px;
        height: 24px;

        img {
          display: block;
          margin: 0 auto;
          max-height: 24px;
          max-width: 20px;
        }

      }

      > span {
        display: block;
        width: fit-content;
        margin-left: 7px;
        color: $black;
        font-size: 18px;
        line-height: 1;
        font-weight: 300;
        font-family: 'Museo Sans Cyrl 300';
      }

    }

    &__main-contacts {
      flex-direction: column;

      > a {
        display: flex;
        align-items: center;
        width: fit-content;
        margin-bottom: 10px;

        img {
          margin-left: 6px;
          max-width: 22px;
        }

        > span {
          display: block;
          width: fit-content;
          color: $black;
          margin-left: 11px;
          font-size: 18px;
          line-height: 1;
          font-weight: 500;
          font-family: "Museo Sans Cyrl 500";
        }

        &:hover > span {
          text-decoration: underline;
          color: $violet;
        }

      }

    }

    > button {
      display: flex;
      width: fit-content;
      margin: 13px 0 0 37px;
      padding: 5px 13px;
      background-color: $grey_easy;
      outline: none;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      img {
        max-width: 12px;
      }

      span {
        display: inline-block;
        margin-left: 4px;
        color: $black;
        font-size: 13px;
        line-height: 1;
        font-weight: 500;
        font-family: "Museo Sans Cyrl 500";
      }

    }

  }

  > div:last-child {
    flex-basis: calc(100% - 1% - 360px);

    > div:first-child {
      height: 406px;
      width: 100%;
      margin-bottom: 41px;
    }

  }

  &__contact-info {
    flex-basis: calc(100% - 1% - 360px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 48px 0;

    > div {
      flex-basis: 45%;

      > span {
        display: block;
        margin-bottom: 9px;
        width: fit-content;
        color: $black;
        font-size: 20px;
        line-height: 1;
        font-family: 'Museo Sans Cyrl 700';
      }

      small {
        display: block;
        width: fit-content;
        margin-bottom: 20px;
        color: $grey_normal;
        font-size: 13px;
        line-height: 1;
        font-family: 'Museo Sans Cyrl 300';
      }

      div {
        width: 100%;

        a {
          width: fit-content;
          display: flex;
          align-items: center;
          margin-bottom: 12px;

          img {
            width: 21px;
          }

          span {
            display: block;
            margin-left: 9px;
            color: $black;
            font-size: 18px;
            line-height: 1;
            font-family: 'Museo Sans Cyrl 500';
          }

          &:hover > span {
            text-decoration: underline;
            color: $violet;
          }

        }

        > a:last-child {
          margin-bottom: 0;
        }

      }

    }

  }

}

@media (max-width: 768px) {

  .general-contacts {
    width: 93%;
    margin: 0 auto 30px;
    flex-wrap: wrap;

    &__work-time {
      width: 100%;

      > div {
        margin-bottom: 16px;

        > div {
          width: 25px;
          height: 30px;

          img {
            max-width: 25px;
            max-height: 30px;
          }

        }

        > span {
          margin-left: 14px;
          font-size: 22px;
        }

      }

      &__main-contacts {

        > a {
          margin-bottom: 18px;

          img {
            margin-left: 0;
            max-width: 25px;
          }

          > span {
            margin-left: 13px;
            font-size: 22px;
          }

        }

      }

      > button {
        margin: 0 0 15px;
        padding: 6px 13px;

        img {
          max-width: 17px;
        }

        span {
          margin-left: 16px;
          font-size: 19px;
        }

      }

    }

    &__contact-info {
      width: 100%;
      flex-basis: 100%;
      gap: 20px 0;

      > div {
        flex-basis: 100%;

        > span {
          margin-bottom: 13px;
          font-size: 25px;
        }

        small {
          margin-bottom: 25px;
          font-size: 16px;
        }

        div {
          width: 100%;

          a {
            margin-bottom: 14px;

            img {
              width: unset;
              max-width: 26px;
            }

            span {
              margin-left: 13px;
              font-size: 18px;
            }

          }

        }

      }

    }

    > div:last-child {
      width: 100%;
      flex-basis: 100%;

      > div:first-child {
        display: none;
      }

    }

  }

}

@media (max-width: 550px) {

  .general-contacts {

    &__work-time {

      > div {
        margin-bottom: 15px;

        > div {
          height: 26px;
          width: 22px;
          img {
            max-height: 26px;
            max-width: 22px;
          }
        }

        > span {
          font-size: 18px;
        }

      }

      &__main-contacts {

        > a {
          margin-bottom: 11px;

          img {
            max-width: 19px;
          }

          > span {
            margin-left: 9px;
            font-size: 18px;
          }

        }

      }

      > button {
        margin: 0 0 11px;
        padding: 5px 11px;

        img {
          max-width: 15px;
        }

        span {
          margin-left: 13px;
          font-size: 16px;
        }

      }

    }

    &__contact-info {
      gap: 18px 0;

      > div {

        > span {
          margin-bottom: 11px;
          font-size: 20px;
        }

        small {
          margin-bottom: 16px;
          font-size: 13px;
        }

        div {

          a {
            margin-bottom: 11px;

            img {
              max-width: 24px;
            }

            span {
              margin-left: 11px;
            }

          }

        }

      }

    }

  }

}

@media (max-width: 420px) {

  .general-contacts {

    &__work-time {

      > div {
        margin-bottom: 9px;

        > div {
          height: 21px;
          width: 18px;
          img {
            max-height: 21px;
            max-width: 18px;
          }
        }

        > span {
          font-size: 15px;
        }

      }

      &__main-contacts {

        > a {
          margin-bottom: 9px;

          img {
            max-width: 18px;
          }

          > span {
            margin-left: 7px;
            font-size: 14px;
          }

        }

      }

      > button {
        margin: 0 0 9px;
        padding: 4px 9px;

        img {
          max-width: 12px;
        }

        span {
          margin-left: 7px;
          font-size: 13px;
        }

      }

    }

    &__contact-info {
      gap: 15px 0;

      > div {

        > span {
          margin-bottom: 7px;
          font-size: 16px;
        }

        small {
          margin-bottom: 12px;
          font-size: 11px;
        }

        div {

          a {
            margin-bottom: 9px;

            img {
              max-width: 20px;
            }

            span {
              margin-left: 8px;
              font-size: 14px;
            }

          }

        }

      }

    }

  }

}
