<div class="general-contacts">

  <div class="general-contacts__work-time">
    <div>
      <div><img src="../../../../assets/icon/geoposition.svg" alt=""></div>
      <span>
        г. Набережные Челны, <br/>
        пр. Казанский (трасса М-7), 123
      </span>
    </div>

    <div>
      <div><img src="../../../../assets/icon/time.svg" alt=""></div>
      <span>
        Время работы: <br/>
        Понедельник-пятница (8:00-17:00) <br/>
        Суббота (выходной) <br/>
        Воскресенье (выходной) <br/>
      </span>
    </div>
  </div>

  <div>
    <div id="gis"></div>
    <div class="general-contacts__contact-info">

      <div>
        <span>Артем</span>
        <small>Руководитель отдела маркетинга</small>
        <div>
          <a href="tel:+78552928111#1601">
            <img src="../../../../assets/general-icon/phone.svg" alt="">
            <span>+7 (8552) 928-111 (доб. 1601)</span>
          </a>
          <a href="mailto:artem@midkam.ru">
            <img src="../../../../assets/general-icon/email.svg" alt="">
            <span>artem@midkam.ru</span>
          </a>
        </div>
      </div>

      <div>
        <span>Елизавета</span>
        <small>Заместитель отдела маркетинга</small>
        <div>
          <a href="tel:+78552928111#1604">
            <img src="../../../../assets/general-icon/phone.svg" alt="">
            <span>+7 (8552) 928-111 (доб. 1604)</span>
          </a>
          <a href="mailto:anna.k@midkam.ru">
            <img src="../../../../assets/general-icon/email.svg" alt="">
            <span>liza.v@midkam.ru</span>
          </a>
        </div>
      </div>

    </div>
  </div>

</div>
