@import "../../../shared/styles/variables";

.delivery {
  width: 100%;
  min-height: 50vh;
  margin: 0 auto 100px;

  > div {
    width: 100%;
    display: flex;
    align-items: start;
    gap: 0 50px;
    margin-bottom: 30px;

    > div:first-child {
      position: relative;
      width: 80px;
      height: 80px;
      background-color: $grey_easy;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 35px;
      }

    }

    > div:last-child {
      flex-basis: 90%;

      h1 {
        margin-bottom: 23px;
        color: $black;
        font-size: 20px;
        line-height: 1;
        font-weight: 700;
        font-family: "Museo Sans Cyrl 700";
      }

      p {
        display: block;
        width: 100%;
        color: $black;
        font-size: 15px;
        line-height: 1;
        font-weight: 300;
        font-family: "Museo Sans Cyrl 300";

        span {
          display: block;
          width: 100%;
          margin-bottom: 20px;
          color: $black;
          font-size: 15px;
          line-height: 1;
          font-weight: 300;
          font-family: "Museo Sans Cyrl 300";
        }

      }

      button {
        position: relative;
        width: 100%;
        max-width: 390px;
        margin-top: 20px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $grey_easy;
        border: none;
        border-radius: 10px;
        cursor: pointer;

        &:after {
          content: '';
          position: absolute;
          width: 11px;
          height: 11px;
          border: 1px solid;
          right: 13px;
          border-color: $violet $violet transparent transparent;
          transform: rotate(45deg);
        }

        span {
          color: $black;
          font-size: 20px;
          line-height: 1;
          font-family: "Museo Sans Cyrl 700";
        }
      }

    }

  }

}
