<div class="general-contacts">

  <div class="general-contacts__work-time">

    <div>
      <div><img src="../../../../assets/icon/geoposition.svg" alt=""></div>
      <span>
        г. Набережные Челны, <br/>
        пос. Орловка, ул. Центральная, 186
      </span>
    </div>

    <div>
      <div><img src="../../../../assets/icon/time.svg" alt=""></div>
      <span>
        Время работы: <br/>
        Понедельник-пятница (8:00-17:00) <br/>
        Суббота (выходной) <br/>
        Воскресенье (выходной) <br/>
      </span>
    </div>

    <div class="general-contacts__work-time__main-contacts">
      <a href="tel:+78552322359">
        <img src="../../../../assets/general-icon/phone.svg" alt="">
        <span>+7 (8552) 32-23-59</span>
      </a>
    </div>

  </div>

  <div>
    <div id="gis"></div>
  </div>

</div>
