@import "../shared/styles/variables";

.container {
  width: 100%;
  margin: 0;
}

.home-page-main-slider {
  width: 100%;

  .slick-slide {
    position: relative;
    margin: 0 8.5px;

    img {
      max-width: 1094px;
    }

    a {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 15px;
      background-color: rgba(0, 0, 0, 0.5);
      color: #ffffff;
      font-size: 16px;
      line-height: 1;
      font-weight: 300;
      font-family: "Museo Sans Cyrl 300";

      &:hover {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }

  }

}

.home-title {
  width: 100%;
  margin: 40px auto 104px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__text {
    flex-basis: 89.7%;
    margin-bottom: 49px;

    p {
      font-family: "Museo Sans Cyrl 500";
      font-size: 24px;
      line-height: 1.5;
    }
  }

  &__awards {
    flex-basis: 100%;
    display: flex;

    >div {
      display: flex;
      align-items: center;

      div {
        margin-left: 10px;

        b, p {
          display: block;
          font-size: 19px;
          line-height: 1;
        }
        b {
          font-family: "Museo Sans Cyrl 700";
        }

        p {
          margin-top: 12px;
          font-family: "Museo Sans Cyrl 500";
        }
      }
    }
    >div:nth-child(2) {
      margin-left: 37px;
    }
  }

}

.slider-place {
  width: 100%;
  margin: 0 auto 50px auto;

  &__selection {
    width: 100%;
    display: flex;
    justify-content: space-between;

    button {
      flex-basis: 19%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 26px 19px;
      background-color: #ffffff;
      border-bottom: 7px solid $yellow;
      text-align: start;
      transition: border-bottom-color 0.5s;

      span {
        display: block;
        margin-left: 7px;
        font-size: 17px;
        line-height: 1;
        text-transform: uppercase;
        font-family: "Museo Sans Cyrl 700";
      }
    }

    button:hover {
      border-bottom-color: $violet;
      transition: border-bottom-color 0.5s;
    }

    button:nth-child(2) {
      padding-left: 50px;
      padding-right: 50px;
    }
    button:nth-child(3) {
      padding-left: 44px;
      padding-right: 44px;
    }
  }

  &__slider {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
  }

}

.toggled {
  border-bottom-color: $violet !important;
}

.details-slider {
  width: 100%;
  position: relative;

  .slick-slide {
    padding: 0 20px;

    > div:first-child {
      position: relative;
      width: 100%;
      height: 180px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-height: 180px;
        max-width: 100%;
      }

      a {
        position: absolute;
        bottom: -15px;
        right: 0px;
        img {
          max-width: 50px;
        }
      }

    }

    > a {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-top: 32px;
      width: 100%;
      height: 2em;
      color: $violet;
      font-size: 20px;
      line-height: 1;
      font-weight: 500;
      font-family: "Museo Sans Cyrl 500";
      cursor: pointer;
      &:hover {
        color: $violet-hover;
      }
    }

    > div:nth-child(3) {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-top: 10px;
      margin-bottom: 24px;
      width: 100%;
      height: 2em;
      color: $grey_normal;
      font-size: 20px;
      line-height: 1;
      font-weight: 700;
      font-family: "Museo Sans Cyrl 700";
      span {
        color: $grey_normal;
        font-size: 20px;
        line-height: 1;
        font-weight: 700;
        font-family: "Museo Sans Cyrl 500";
      }
    }

    > span:nth-child(4) {
      display: block;
      margin-right: auto;
      font-size: 24px;
      line-height: 1;
      font-weight: 700;
      font-family: "Museo Sans Cyrl 700", Arial, sans-serif;
    }

    > button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px 0 0 auto;
      width: 50%;
      height: 58px;
      background-color: #ffffff;
      border: 2px solid $yellow;
      border-radius: 10px;
      text-transform: uppercase;
      font-size: 17px;
      line-height: 1;
      font-weight: 300;
      font-family: "Museo Sans Cyrl 300";
      &:hover {
        background-color: $yellow-hover;
      }
    }

    > div:last-child {
      display: flex;
      margin: 20px 0 0 auto;
      width: 50%;
      height: 58px;
      border-radius: 10px;

      input, button {
        width: 33.3%;
        height: 100%;
      }

      input {
        background-color: $yellow-hover;
        font-size: 26px;
        line-height: 1;
        text-align: center;
        font-family: "Museo Sans Cyrl 500";

        &:disabled {
          background-color: $yellow-hover;
        }
      }

      button {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $yellow;
        border: none;
        cursor: pointer;

        &:before, span {
          content: '';
          position: absolute;
          width: 40%;
          height: 0;
          border-top: 2px solid $black;
        }
        span {
          transform: rotate(90deg);
        }
      }

      >button:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      button:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }

  }

}

.manufacturer-slider {
  width: 100%;

}

.slide-manufacturer {
  padding: 0 20px;

  a {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      opacity: 0.8;
    }

    img {
      max-width: 100%;
      max-height: 100px;
    }
  }

}

.certificate-slider {
  width: 100%;

  .slick-slide {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      cursor: zoom-in;
      max-width: 100%;
      max-height: 300px;
    }

  }

}

.slide-certificate {

}

.modal-certificate-content {
  position: absolute;
  z-index: 101;
  max-height: 90vh;
  max-width: 80%;

  img {
    display: block;
    margin: 0 auto;
    max-height: 90vh;
    max-width: 100%;
  }

}

.mobile-home-page-slider-place {
  display: none;
}

//--Мобильная версия

@media (max-width: 767px) {
  .container, .home-title, .slider-place, .mobile-home-page-slider-place {
    width: 93%;
    margin-right: auto;
    margin-left: auto;
  }

  .home-title, .slider-place {
    display: none;
  }

  .container {
    margin-bottom: 35px;
  }

  .slide-manufacturer {
    padding: 0;

    > a {
      padding: 5px;
    }

  }

  .certificate-slider {

    .slick-slide {
      height: 130px;

      > img {
        max-height: 130px;
      }

    }

  }

  .mobile-home-page-slider-place {
    display: block;
  }

}

.mobile-home-page-slider-place {

  > div {
    width: 100%;
    margin-bottom: 68px;

    > span {
      display: block;
      width: fit-content;
      margin-bottom: 25px;
      border-bottom: 3px solid $grey_normal;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 1;
      font-weight: 700;
      font-family: "Museo Sans Cyrl 700";
    }

  }

}

.mobile-details-slider {
  position: relative;

  .slick-slide {
    margin: 0 6px;
    display: flex;

    > div:first-child {
      position: relative;
      height: 160px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-basis: 32%;

      > img {
        max-width: 100%;
        max-height: 160px;
      }

    }

    > div:nth-child(2) {
      flex-basis: 48%;
      margin: 0 1%;

      > span {
        display: block;
        margin-bottom: 20px;
        width: fit-content;
        color: $black;
        font-size: 28px;
        line-height: 1;
        font-weight: 700;
        font-family: "Museo Sans Cyrl 700", Arial;
      }

      > a {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        width: 100%;
        height: 2em;
        color: $black;
        font-size: 20px;
        line-height: 1;
        font-weight: 500;
        font-family: "Museo Sans Cyrl 500";

        &:hover {
          color: $black-hover;
        }

      }

      > div {
        width: 100%;
        margin-top: 25px;
        color: $grey_normal;
        font-size: 16px;
        line-height: 1;
        font-weight: 500;
        font-family: "Museo Sans Cyrl 500";

        span {
          color: $grey_normal;
          font-size: 16px;
          line-height: 1;
          font-weight: 700;
          font-family: "Museo Sans Cyrl 700";
        }

      }

    }

    > div:last-child {
      flex-basis: 18%;
      display: flex;
      flex-direction: column;

      > span, > button {
        display: block;
        width: 100%;
        margin-top: auto;
        padding: 13px 0;
        border: 2px solid $yellow;
        border-radius: 10px;
        text-align: center;
        text-transform: uppercase;
        color: $black;
        font-size: 15px;
        line-height: 1;
        font-weight: 300;
        font-family: "Museo Sans Cyrl 300";
      }

      > span {
        background-color: $yellow;
      }

      > button {
        background-color: #ffffff;
        cursor: pointer;
      }

      > a {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          max-width: 100%;
          max-height: 40px;
        }

        &:hover {
          opacity: 0.7;
        }

      }

    }

  }

}

@media (max-width: 550px) {

  .mobile-home-page-slider-place {

    > div {

      > span {
        font-size: 15px;
      }

    }

  }

  .mobile-details-slider {

    .slick-slide {

      > div:first-child {
      height: 140px;

      > img {
        max-height: 140px;
      }

    }

      > div:nth-child(2) {

        > span {
          font-size: 21px;
        }

        > a {
          font-size: 15px;
        }

        > div {
          font-size: 13px;

          > span {
            font-size: 13px;

          }

        }

      }

      > div:last-child {

        > button {
          font-size: 12px;
        }

        > span {
          font-size: 10px;
        }

        > a {
          height: 30px;

          img {
            max-height: 30px;
          }

        }

      }

    }

  }

  .certificate-slider {

    .slick-slide {
      height: 100px;

      > img {
        max-height: 100px;
      }

    }

  }

}

@media (max-width: 420px) {

  .mobile-home-page-slider-place {

    > div {
      margin-bottom: 45px;

      > span {
        margin-bottom: 14px;
        font-size: 12px;
      }

    }

  }

  .mobile-details-slider {

    .slick-slide {

      > div:first-child {
        height: 100px;

        > img {
          max-height: 100px;
        }

      }

      > div:nth-child(2) {

        > span {
          font-size: 16px;
        }

        > a {
          font-size: 12px;
        }

        > div {
          font-size: 10px;

          > span {
            font-size: 10px;

          }

        }

      }

      > div:last-child {

        > button {
          padding: 9px 0;
          font-size: 9px;
        }

        > span {
          padding: 9px 0;
          font-size: 8px;
        }

        > a {
          height: 25px;

          img {
            max-height: 25px;
          }

        }

      }

    }

  }


}

