<div class="container">

  <ngx-slick-carousel class="slick-slider-main-class home-page-main-slider"
                      (init)="slickInit($event)" [config]="bannersSliderConfig">
    <div ngxSlickItem *ngFor="let b of banners" class="slide">
      <img [src]="b.url" alt="" [style]="isMobile ? 'max-width: ' + mobileMainBannerWidth + 'px;' : null">
      <a *ngIf="b.pageReference" [href]="b.pageReference">Узнать подробнее</a>
    </div>
  </ngx-slick-carousel>

</div>

<div class="home-title">

  <div class="home-title__text">
    <p>В нашем интернет-магазине представлены запасные части на отечественные грузовые
      автомобили КАМАЗ, МАЗ, малотоннажные автомобили ГАЗ, европейские грузовые автомобили,
      на прицепы и полуприцепы СЗАп, НЕФАЗ, ТОНАР и др., тракторные запчасти. А также запасные
      части на двигатели КАМАЗ, ЯМЗ, CUMMINS, коробки ZF, мосты MADARA и RABA, РТИ, метизы,
      подшипники, электрооборудование, кабины, двигатели, автоаксессуары, рессорная продукция,
      дополнительное оборудование и многое другое оптом и в розницу.</p>
  </div>

  <div class="home-title__awards">

    <div>
      <img src="../../assets/home/awards-1.png" alt="">
      <div>
        <b>Более 20 лет</b>
        <p>на рынке автозапчастей</p>
      </div>
    </div>

    <div>
      <img src="../../assets/home/awards-2.png" alt="">
      <div>
        <b>Огромные складские</b>
        <p>остатки для быстрой отгрузки товара</p>
      </div>
    </div>

    <div>
      <img src="../../assets/home/awards-3.png" alt="">
      <div>
        <b>Прямые поставки</b>
        <p>от заводов производителей</p>
      </div>
    </div>

  </div>

</div>

<div class="slider-place">

  <div class="slider-place__selection">

    <button class="btn btn-slider-place" (click)="addClassToggled('first')" [ngClass]="{toggled: first}">
      <img src="../../assets/home/best-position.png" alt="">
      <span>Рекомендуемые товары</span>
    </button>

    <button class="btn btn-slider-place" (click)="addClassToggled('second')" [ngClass]="{toggled: second}">
      <img src="../../assets/home/new-position.png" alt="">
      <span>Товары-новинки</span>
    </button>

    <button class="btn btn-slider-place" (click)="addClassToggled('third')" [ngClass]="{toggled: third}">
      <img src="../../assets/home/sale.png" alt="">
      <span>Акционные товары</span>
    </button>

    <button class="btn btn-slider-place" (click)="addClassToggled('fourth')" [ngClass]="{toggled: fourth}">
      <img src="../../assets/home/factory.png" alt="">
      <span>Заводы-производители</span>
    </button>

    <button class="btn btn-slider-place" (click)="addClassToggled('fifth')" [ngClass]="{toggled: fifth}">
      <img src="../../assets/home/sertificate.png" alt="">
      <span>Наши сертификаты</span>
    </button>

  </div>

  <div class="slider-place__slider">

    <ngx-slick-carousel class="slick-slider-main-class home-page-details-carousel details-slider"
                        [style.display]="first ? 'block' : 'none'" [config]="detailsSliderConfig">
      <div ngxSlickItem *ngFor="let d of detailsNew; let idx = index" class="slide" [style.width]="slideWidth + 'px'">
        <div>
          <img [src]="d.photoDetail && d.photoDetail.length > 0 ? d.photoDetail[0].url : defaultImage">
          <a *ngIf="d.manufacturer && d.manufacturer.logoCompanyUrl"
             [routerLink]="['/', 'manufacturer', d.manufacturer.id]">
            <img [src]="d.manufacturer.logoCompanyUrl">
          </a>
        </div>

        <a [routerLink]="['/', 'catalog', d.id]">{{d.name}}</a>

        <div>
          <span>Артикул:</span>
          {{d.vendorCode}}
        </div>

        <span>{{cartService.toCurrency(d.price)}}</span>

        <div *ngIf="cartService.check(d.id); else no_have">
          <button class="btn" (click)="decrease(detailsNew, d.id, idx)" [disabled]="action"></button>
          <input type="number" [value]="d.quantity"
                 (change)="manualInput($event, detailsNew, d.id, idx)"
                 [disabled]="action">
          <button class="btn" (click)="increase(detailsNew, d.id, idx)" [disabled]="action">
            <span></span>
          </button>
        </div>

        <ng-template #no_have>
          <button class="btn" (click)="addProduct(detailsNew, d.id, idx)" [disabled]="action">В заказ</button>
        </ng-template>
      </div>
    </ngx-slick-carousel>

    <ngx-slick-carousel class="slick-slider-main-class home-page-details-carousel details-slider"
                        [style.display]="second ? 'block' : 'none'" [config]="detailsSliderConfig">
      <div ngxSlickItem *ngFor="let d of detailsPopular; let idx = index" class="slide" [style.width]="slideWidth + 'px'">
        <div>
          <img [src]="d.photoDetail && d.photoDetail.length > 0 ? d.photoDetail[0].url : defaultImage">
          <a *ngIf="d.manufacturer && d.manufacturer.logoCompanyUrl"
             [routerLink]="['/', 'manufacturer', d.manufacturer.id]">
            <img [src]="d.manufacturer.logoCompanyUrl">
          </a>
        </div>

        <a [routerLink]="['/', 'catalog', d.id]">{{d.name}}</a>

        <div>
          <span>Артикул:</span>
          {{d.vendorCode}}
        </div>

        <span>{{cartService.toCurrency(d.price)}}</span>

        <div *ngIf="cartService.check(d.id); else no_have">
          <button class="btn" (click)="decrease(detailsPopular, d.id, idx)" [disabled]="action"></button>
          <input type="number" [value]="d.quantity"
                 (change)="manualInput($event, detailsPopular, d.id, idx)"
                 [disabled]="action">
          <button class="btn" (click)="increase(detailsPopular, d.id, idx)" [disabled]="action">
            <span></span>
          </button>
        </div>

        <ng-template #no_have>
          <button class="btn" (click)="addProduct(detailsPopular, d.id, idx)" [disabled]="action">В заказ</button>
        </ng-template>
      </div>
    </ngx-slick-carousel>

    <ngx-slick-carousel class="slick-slider-main-class home-page-details-carousel details-slider"
                        [style.display]="third ? 'block' : 'none'" [config]="detailsSliderConfig">
      <div ngxSlickItem *ngFor="let d of detailsSale; let idx = index" class="slide" [style.width]="slideWidth + 'px'">
        <div>
          <img [src]="d.photoDetail && d.photoDetail.length > 0 ? d.photoDetail[0].url : defaultImage">
          <a *ngIf="d.manufacturer && d.manufacturer.logoCompanyUrl"
             [routerLink]="['/', 'manufacturer', d.manufacturer.id]">
            <img [src]="d.manufacturer.logoCompanyUrl">
          </a>
        </div>

        <a [routerLink]="['/', 'catalog', d.id]">{{d.name}}</a>

        <div>
          <span>Артикул:</span>
          {{d.vendorCode}}
        </div>

        <span>{{cartService.toCurrency(d.price)}}</span>

        <div *ngIf="cartService.check(d.id); else no_have">
          <button class="btn" (click)="decrease(detailsSale, d.id, idx)" [disabled]="action"></button>
          <input type="number" [value]="d.quantity"
                 (change)="manualInput($event, detailsSale, d.id, idx)"
                 [disabled]="action">
          <button class="btn" (click)="increase(detailsSale, d.id, idx)" [disabled]="action">
            <span></span>
          </button>
        </div>

        <ng-template #no_have>
          <button class="btn" (click)="addProduct(detailsSale, d.id, idx)" [disabled]="action">В заказ</button>
        </ng-template>
      </div>
    </ngx-slick-carousel>

    <ngx-slick-carousel class="slick-slider-main-class home-page-details-carousel manufacturer-slider"
                        [style.display]="fourth ? 'block' : 'none'" [config]="manufacturersSliderConfig">
      <div ngxSlickItem *ngFor="let m of manufacturers; let idx = index" class="slide-manufacturer"
           [style.width]="slideManufacturer + 'px !important'">
        <a [routerLink]="['/', 'manufacturer', m.id]">
          <img [src]="m.logoCompanyUrl" alt="">
        </a>
      </div>
    </ngx-slick-carousel>

    <ngx-slick-carousel class="slick-slider-main-class home-page-details-carousel certificate-slider"
                        [style.display]="fifth ? 'block' : 'none'" [config]="certificatesSliderConfig">
      <div ngxSlickItem *ngFor="let c of certificates; let idx = index" class="slide-certificate"
           [style.width]="slideWidth + 'px'">
        <img [src]="c.url" alt="" (click)="openCertificate($event)">
      </div>
    </ngx-slick-carousel>

  </div>

</div>

<div class="mobile-home-page-slider-place">

  <div>

    <span>Рекомендуемые товары</span>

    <div>
      <ngx-slick-carousel class="slick-slider-main-class home-page-details-carousel mobile-details-slider"
                          [config]="detailsSliderConfig">
        <div ngxSlickItem *ngFor="let d of detailsNew; let idx = index" class="slide"
             [style.width]="mobileMainBannerWidth + 'px'">

          <div>
            <img [src]="d.photoDetail && d.photoDetail.length > 0 ? d.photoDetail[0].url : defaultImage">
          </div>

          <div>

            <span>{{cartService.toCurrency(d.price)}}</span>
            <a [routerLink]="['/', 'catalog', d.id]">{{d.name}}</a>
            <div>Артикул: <span>{{d.vendorCode}}</span></div>

          </div>

          <div>
            <a *ngIf="d.manufacturer && d.manufacturer.logoCompanyUrl"
               [routerLink]="['/', 'manufacturer', d.manufacturer.id]">
              <img [src]="d.manufacturer.logoCompanyUrl">
            </a>

            <span *ngIf="cartService.check(d.id); else no_have">
              В корзине
            </span>

            <ng-template #no_have>
              <button class="btn" (click)="addProduct(detailsNew, d.id, idx)" [disabled]="action">В заказ</button>
            </ng-template>
          </div>

        </div>

      </ngx-slick-carousel>
    </div>

  </div>

  <div>

    <span>Товары-новинки</span>

    <div>
      <ngx-slick-carousel class="slick-slider-main-class home-page-details-carousel mobile-details-slider"
                          [config]="detailsSliderConfig">
        <div ngxSlickItem *ngFor="let d of detailsPopular; let idx = index" class="slide"
             [style.width]="mobileMainBannerWidth + 'px'">

          <div>
            <img [src]="d.photoDetail && d.photoDetail.length > 0 ? d.photoDetail[0].url : defaultImage">
          </div>

          <div>

            <span>{{cartService.toCurrency(d.price)}}</span>
            <a [routerLink]="['/', 'catalog', d.id]">{{d.name}}</a>
            <div>Артикул: <span>{{d.vendorCode}}</span></div>

          </div>

          <div>
            <a *ngIf="d.manufacturer && d.manufacturer.logoCompanyUrl"
               [routerLink]="['/', 'manufacturer', d.manufacturer.id]">
              <img [src]="d.manufacturer.logoCompanyUrl">
            </a>

            <span *ngIf="cartService.check(d.id); else no_have">
              В корзине
            </span>

            <ng-template #no_have>
              <button class="btn" (click)="addProduct(detailsNew, d.id, idx)" [disabled]="action">В заказ</button>
            </ng-template>
          </div>

        </div>

      </ngx-slick-carousel>
    </div>

  </div>

  <div>

    <span>Акционные товары</span>

    <div>
      <ngx-slick-carousel class="slick-slider-main-class home-page-details-carousel mobile-details-slider"
                          [config]="detailsSliderConfig">
        <div ngxSlickItem *ngFor="let d of detailsSale; let idx = index" class="slide"
             [style.width]="mobileMainBannerWidth + 'px'">

          <div>
            <img [src]="d.photoDetail && d.photoDetail.length > 0 ? d.photoDetail[0].url : defaultImage">
          </div>

          <div>

            <span>{{cartService.toCurrency(d.price)}}</span>
            <a [routerLink]="['/', 'catalog', d.id]">{{d.name}}</a>
            <div>Артикул: <span>{{d.vendorCode}}</span></div>

          </div>

          <div>
            <a *ngIf="d.manufacturer && d.manufacturer.logoCompanyUrl"
               [routerLink]="['/', 'manufacturer', d.manufacturer.id]">
              <img [src]="d.manufacturer.logoCompanyUrl">
            </a>

            <span *ngIf="cartService.check(d.id); else no_have">
              В корзине
            </span>

            <ng-template #no_have>
              <button class="btn" (click)="addProduct(detailsNew, d.id, idx)" [disabled]="action">В заказ</button>
            </ng-template>
          </div>

        </div>

      </ngx-slick-carousel>
    </div>

  </div>

  <div>

    <span>Заводы-производители</span>

    <div>
      <ngx-slick-carousel class="slick-slider-main-class home-page-details-carousel manufacturer-slider"
                          [config]="manufacturersSliderConfig">
        <div ngxSlickItem *ngFor="let m of manufacturers; let idx = index" class="slide-manufacturer">
          <a [routerLink]="['/', 'manufacturer', m.id]" [style.width]="slideManufacturer + 'px !important'">
            <img [src]="m.logoCompanyUrl" alt="">
          </a>
        </div>
      </ngx-slick-carousel>
    </div>

  </div>

  <div>

    <span>Наши сертификаты</span>

    <div>
      <ngx-slick-carousel class="slick-slider-main-class home-page-details-carousel certificate-slider"
                          [config]="certificatesSliderConfig">
        <div ngxSlickItem *ngFor="let c of certificates; let idx = index" class="slide-certificate"
             [style.width]="slideCertificate + 'px !important'">
          <img [src]="c.url" alt="" (click)="openCertificate($event)">
        </div>
      </ngx-slick-carousel>
    </div>

  </div>

</div>

<div class="modal" [style.visibility]="modal ? 'visible' : 'hidden'">

  <div class="modal-background" (click)="modal = !modal"></div>

  <div class="modal-certificate-content" >
    <img src="" alt="Сертификат" #modalImage>
  </div>

</div>
