@import "../../../shared/styles/variables";

.user-waiting-list {
  width: 100%;
}

.user-my-waiting-list-loader-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.user-waiting-list-active {
  background-color: $yellow !important;
}

.waiting-list {
  width: 100%;

  &__error {
    width: 100%;

    span {
      display: block;
      width: fit-content;
      margin: 0 auto;
      color: $grey_normal;
      font-size: 26px;
      line-height: 1;
      font-family: "Museo Sans Cyrl 500";
    }
  }

  &__empty {
    width: 100%;
    padding: 38px 0 0;
    margin-bottom: 55px;

    > div {
      margin: 0 auto;
      width: fit-content;
      display: flex;
      align-items: center;

      img {
        height: 73px;
        width: 93px;
      }

      span {
        display: block;
        width: fit-content;
        margin-left: 25px;
        color: $grey_normal;
        font-size: 26px;
        line-height: 1;
        font-family: 'Museo Sans Cyrl 700';
      }

    }

  }

  &__recipient {
    width: 50%;
    margin: 0 0 34px;

    &__profiles {
      width: 100%;

      > span {
        display: block;
        width: fit-content;
        margin-bottom: 9px;
        font-size: 20px;
        line-height: 1;
        color: $grey_normal;
        font-family: 'Museo Sans Cyrl 500';
      }

      button {
        position: relative;
        display: block;
        width: 100%;
        padding: 12px 15px;
        background-color: $grey_light;
        border: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        cursor: pointer;
        text-align: start;

        span {
          color: $black;
          font-size: 15px;
          line-height: 1;
          font-family: 'Museo Sans Cyrl 500';
        }

        div {
          position: absolute;
          margin-left: auto;
          width: 12px;
          height: 12px;
          top: 10px;
          right: 15px;
          background-color: transparent;
          border-style: solid;
          border-width: 2px;
          border-color: transparent $violet $violet transparent;
          transform: rotateX(0deg) rotate(45deg);
          transition: transform 1s, top 0.5s;
        }

      }

      ul {
        list-style: none;
        overflow: auto;
        max-height: 0;
        width: 100%;
        transition: max-height 1s;

        li {
          width: 100%;

          label {
            display: block;
            width: 100%;
            cursor: pointer;

            input[type="radio"] {
              position: absolute;
              z-index: -1;
              opacity: 0;
              display: block;
              width: 0;
              height: 0;
            }

            input[type='radio']:checked + span {
              background-color: $grey_easy;
              font-family: "Museo Sans Cyrl 500";
            }

            span {
              display: block;
              width: 100%;
              padding: 13px 15px;
              background-color: $grey_light;
              color: $black;
              font-size: 15px;
              line-height: 1;
              font-family: 'Museo Sans Cyrl 300';
            }

          }

        }

      }

    }

    div.drop {

      button > div {
        top: 15px;
        transform: rotateX(180deg) rotate(45deg);
        transition: transform 1s, top 0.5s;
      }

      ul {
        max-height: 120px;
      }

    }

    &__email {
      margin-top: 32px;
      width: 100%;

      > span {
        display: block;
        width: fit-content;
        margin-bottom: 9px;
        font-size: 20px;
        line-height: 1;
        color: $grey_normal;
        font-family: 'Museo Sans Cyrl 500';
      }

      div {
        width: 100%;
        padding: 13px 15px;
        background-color: $grey_light;
        border-radius: 10px;
        color: $black;
        font-size: 15px;
        line-height: 1;
        font-family: 'Museo Sans Cyrl 300';
      }

    }

    > button {
      display: block;
      width: fit-content;
      margin-top: 12px;
      padding: 12px 24px;
      background-color: transparent;
      border: 2px solid $yellow;
      border-radius: 10px;
      cursor: pointer;
      text-transform: uppercase;
      color: $violet;
      font-size: 15px;
      line-height: 1;
      font-family: 'Museo Sans Cyrl 700';

      &:hover {
        background-color: $yellow-hover;
      }
      &:disabled {
        background-color: $grey_easy;
        border-color: $grey_easy;
        cursor: not-allowed;
      }
    }

    > small {
      display: block;
      margin-top: 5px;
      width: fit-content;
      color: red;
      font-size: 12px;
      line-height: 1;
      font-family: "Museo Sans Cyrl 100";
    }

  }

}
