@import "../../../shared/styles/variables";

.user-waiting-list {
  width: 100%;
}

.user-my-waiting-list-loader-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.user-waiting-list-active {
  background-color: $yellow !important;
}

.waiting-list {
  width: 100%;

  &__error {
    width: 100%;

    span {
      display: block;
      width: fit-content;
      margin: 0 auto;
      color: $grey_normal;
      font-size: 26px;
      line-height: 1;
      font-family: "Museo Sans Cyrl 500";
    }
  }

  &__empty {
    width: 100%;
    padding: 38px 0 0;
    margin-bottom: 55px;

    > div {
      margin: 0 auto;
      width: fit-content;
      display: flex;
      align-items: center;

      img {
        height: 73px;
        width: 93px;
      }

      span {
        display: block;
        width: fit-content;
        margin-left: 25px;
        color: $grey_normal;
        font-size: 26px;
        line-height: 1;
        font-family: 'Museo Sans Cyrl 700';
      }

    }

  }

  &__recipient {
    width: 50%;
    margin: 0 0 34px;

    &__profiles {
      width: 100%;

      > span {
        display: block;
        width: fit-content;
        margin-bottom: 9px;
        font-size: 20px;
        line-height: 1;
        color: $grey_normal;
        font-family: 'Museo Sans Cyrl 500';
      }

      button {
        position: relative;
        display: block;
        width: 100%;
        padding: 12px 15px;
        background-color: $grey_light;
        border: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        cursor: pointer;
        text-align: start;

        span {
          color: $black;
          font-size: 15px;
          line-height: 1;
          font-family: 'Museo Sans Cyrl 500';
        }

        div {
          position: absolute;
          margin-left: auto;
          width: 12px;
          height: 12px;
          top: 10px;
          right: 15px;
          background-color: transparent;
          border-style: solid;
          border-width: 2px;
          border-color: transparent $violet $violet transparent;
          transform: rotateX(0deg) rotate(45deg);
          transition: transform 1s, top 0.5s;
        }

      }

      ul {
        list-style: none;
        overflow: auto;
        max-height: 0;
        width: 100%;
        transition: max-height 1s;

        li {
          width: 100%;

          label {
            display: block;
            width: 100%;
            cursor: pointer;

            input[type="radio"] {
              position: absolute;
              z-index: -1;
              opacity: 0;
              display: block;
              width: 0;
              height: 0;
            }

            input[type='radio']:checked + span {
              background-color: $grey_easy;
              font-family: "Museo Sans Cyrl 500";
            }

            span {
              display: block;
              width: 100%;
              padding: 12px 15px;
              background-color: $grey_light;
              color: $black;
              font-size: 15px;
              line-height: 1;
              font-family: 'Museo Sans Cyrl 300';
            }

          }

        }

      }

    }

    div.drop {

      button > div {
        top: 15px;
        transform: rotateX(180deg) rotate(45deg);
        transition: transform 1s, top 0.5s;
      }

      ul {
        max-height: 120px;
      }

    }

    &__email {
      margin-top: 32px;
      width: 100%;

      > span {
        display: block;
        width: fit-content;
        margin-bottom: 9px;
        font-size: 20px;
        line-height: 1;
        color: $grey_normal;
        font-family: 'Museo Sans Cyrl 500';
      }

      div {
        width: 100%;
        padding: 12px 15px;
        background-color: $grey_light;
        border-radius: 10px;
        color: $black;
        font-size: 15px;
        line-height: 1;
        font-family: 'Museo Sans Cyrl 300';
      }

    }

    > button {
      display: block;
      width: fit-content;
      margin-top: 12px;
      padding: 12px 24px;
      background-color: transparent;
      border: 2px solid $yellow;
      border-radius: 10px;
      cursor: pointer;
      text-transform: uppercase;
      color: $violet;
      font-size: 15px;
      line-height: 1;
      font-family: 'Museo Sans Cyrl 700';

      &:hover {
        background-color: $yellow-hover;
      }
      &:disabled {
        background-color: $grey_easy;
        border-color: $grey_easy;
        cursor: not-allowed;
      }
    }

    > small {
      display: block;
      margin-top: 5px;
      width: fit-content;
      color: red;
      font-size: 12px;
      line-height: 1;
      font-family: "Museo Sans Cyrl 100";
    }

  }

}

.waiting-list-mobile {
  display: none;
  list-style: none;
  width: 100%;

  li {
    display: flex;
    width: 100%;
    padding: 2px 0;
    border-bottom: 2px solid $border_grey;
  }

  > li:first-child {
    border-top: 2px solid $border_grey;
  }

  &__img {
    flex-basis: 13%;
    display: flex;
    align-items: center;
    justify-content: center;

    > img {
      max-height: 42px;
      max-width: 100%;
    }
  }

  &__title {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5px;

    a {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      color: $black;
      font-size: 11px;
      line-height: 1;
      font-weight: 700;
      font-family: 'Museo Sans Cyrl 700';

      &:hover {
        color: $black-hover;
      }
    }
  }

  &__article {
    flex-basis: 14%;
    margin: auto;
    padding: 0 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: $grey_normal;
    font-size: 9px;
    line-height: 1;
    font-weight: 500;
    font-family: 'Museo Sans Cyrl 500';
  }

  &__price {
    flex-basis: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $black;
    font-size: 10px;
    line-height: 1;
    font-family: 'Museo Sans Cyrl 700', Arial, sans-serif;
  }

  &__quantity {
    flex-basis: 13%;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    > div {
      width: 100%;
      height: 15px;

      > span {
        font-size: 8px;
      }

      span.not-available-analog {
        font-size: 7px;
        left: unset;
      }

    }

  }

  &__order {
    flex-basis: 13%;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    > button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 26px;
      width: 100%;
      max-width: 100px;
      background-color: #ffffff;
      border: 2px solid $yellow;
      border-radius: 7px;
      text-transform: uppercase;
      color: $black;
      font-size: 9px;
      line-height: 1;
      font-family: 'Museo Sans Cyrl 300';
      cursor: pointer;

      &:hover {
        background-color: $yellow-hover;
      }

      &:disabled {
        cursor: not-allowed;
        background-color: $yellow;
      }

    }

  }

  &__delete {
    flex-basis: 2%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
      width: fit-content;
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: $grey_normal;
      font-size: 16px;
      line-height: 1;
      font-weight: 300;
      font-family: "Museo Sans Cyrl 300";

      &:hover {
        color: $grey_normal-hover;
      }
    }

  }

}

@media (max-width: 768px) {

  .waiting-list {

    &__empty {
      padding: 0;
      margin-bottom: 20px;

      > div {

        img {
          width: unset;
          height: 56px;
        }

        span {
          margin-left: 10px;
          font-size: 18px;
        }

      }


    }

    &__recipient {
      width: 100%;
      margin-bottom: 20px;

      &__profiles {

        > span {
          font-size: 19px;
        }

        button {

          span {
            font-size: 16px;
          }

          div {

          }

        }

        ul {

          li {

            label {

              span {
                font-size: 16px;
              }

            }

          }

        }

      }

      &__email {
        margin-top: 26px;

        span {
          font-size: 19px;
        }

        div {
          font-size: 16px;
        }

      }

      > button {
        padding: 10px 20px;
        font-size: 16px;
      }

    }

  }

  .detail-view-analog {
    display: none;
  }

  .waiting-list-mobile {
    display: block;
  }


}

@media (max-width: 550px) {

  .waiting-list {

    &__empty {
      margin-bottom: 15px;

      > div {

        img {
          height: 47px;
        }

        span {
          font-size: 17px;
        }

      }


    }

    &__recipient {
      margin-bottom: 15px;

      &__profiles {

        > span {
          font-size: 16px;
        }

        button {

          span {
            font-size: 14px;
          }

          div {

          }

        }

        ul {

          li {

            label {

              span {
                font-size: 14px;
              }

            }

          }

        }

      }

      &__email {
        margin-top: 20px;

        span {
          font-size: 16px;
        }

        div {
          font-size: 14px;
        }

      }

      > button {
        padding: 8px 18px;
        font-size: 14px;
      }

    }

  }

  .waiting-list-mobile {

    &__img {

      img {
        max-height: 35px;
      }

    }

    &__title {

      a {
        font-size: 9px;
      }

    }

    &__article {
      font-size: 7px;
    }

    &__price {
      font-size: 7.5px;
    }

    &__quantity {

      > div {

        > span {
          font-size: 7px;
        }

        span.not-available-analog {
          font-size: 6px;
        }

      }

    }

    &__order {

      > button {
        font-size: 6px;
        height: 23px;
      }

    }

    &__delete {

      button {
        font-size: 13px;
      }

    }

  }

}

@media (max-width: 420px) {

  .waiting-list {

    &__empty {
      margin-bottom: 10px;

      > div {

        img {
          height: 40px;
        }

        span {
          font-size: 16px;
        }

      }


    }

    &__recipient {
      margin-bottom: 10px;

      &__profiles {

        > span {
          font-size: 13px;
        }

        button {
          padding: 8px 10px;

          span {
            font-size: 11px;
          }

          div {
            width: 9px;
            height: 9px;
            top: 9px;
            border-width: 1px;

          }

        }

        ul {

          li {

            label {

              span {
                padding: 8px 10px;
                font-size: 11px;
              }

            }

          }

        }

      }

      &__email {
        margin-top: 15px;

        span {
          font-size: 13px;
        }

        div {
          padding: 8px 10px;
          font-size: 11px;
        }

      }

      > button {
        padding: 7px 14px;
        font-size: 11px;
      }

    }

  }

  .waiting-list-mobile {

    &__img {

      img {
        max-height: 35px;
      }

    }

    &__title {

      a {
        font-size: 9px;
      }

    }

    &__article {
      font-size: 7px;
    }

    &__price {
      font-size: 6.5px;
    }

    &__quantity {

      > div {

        > span {
          font-size: 6px;
        }

        span.not-available-analog {
          font-size: 5px;
        }

      }

    }

    &__order {

      > button {
        font-size: 5.5px;
        height: 23px;
      }

    }

    &__delete {

      button {
        font-size: 13px;
      }

    }

  }

}
