<div class="us">

  <nav class="breadcrumbs">
    <app-ng-dynamic-breadcrumb [bgColor]="'#ffffff'" symbol="" class="breadcrumbs-links"></app-ng-dynamic-breadcrumb>
  </nav>

  <h1>О компании</h1>

  <div>
    Компания <b>МИДКАМ</b> работает в сфере поставок любых комплектующих для грузовых автомобилей
    <b>КАМАЗ, МАЗ, УРАЛ, ЗИЛ,</b> а также для Европейских тягачей и новых КАМАЗов линейки 5490.
    В ассортименте также представлены автозапчасти для среднетоннажных автомобилей ГАЗ, отечественных и импортных
    прицепов и полуприцепов <b>СЗАП, НЕФАЗ, ТОНАР, KRONE, SCHMITZ</b> и других, комплектующих к двигателям
    <b>CUMMINS, ЯМЗ, КАМАЗ, ММЗ, ЗМЗ, ТМЗ, тракторные автозапчасти, автоаксесуары, инструменты и
    принадлежности.</b>
  </div>

  <div>

    <div>
      <b>История нашей компании начинается с 1995 года.</b> <br/>
      За период работы свыше <b>25 лет</b> нами выверены только надежные
      поставщики. <br/>
      Все товары имеют гарантию и сертификаты от производителя.
      На сегодняшний день ассортимент свыше <b>35 000</b> товаров и большая <br/>
      часть в <b>наличии.</b> <br/>
      Интернет-магазин <b>www.midkam.ru</b> работает 24/7 <br/>
      <b>Каждый покупатель</b> для нас уникален, при необходимости менеджеры
      индивидуально помогут подобрать необходимый под Ваши требования
      товар и организуют доставку.
    </div>

    <div>
      <b>М</b>ноголетняя стабильность <br/>
      <b>И</b>ндивидуальный подход <br/>
      <b>Д</b>оступные цены <br/>
      <b>К</b>ачественные товары <br/>
      <b>А</b>налоги товаров в ассортименте <br/>
      <b>М</b>аксимальная выгода для клиента <br/>
    </div>

  </div>

  <div>
    <img src="../../../../assets/about/general-info/vitrina.jpg" alt="">
  </div>

  <div>

    <div>
      Обязательная проверка качества <br/>
      Гарантия от производителя до 3-х лет <br/>
      Свыше 600 производителей в ассортименте <br/>
    </div>

    <div>
      <span>
        Мидкам уже много лет остается крупнейшим продавцом
        автозапчастей в Республике Татарстан, в городе Набережные Челны.
      </span>

      <span>
        Мы сотрудничаем с большинством крупных производственных
        предприятий разных городов и стран. Отдел технического контроля
        всегда следит за качеством поставляемых товаров, поэтому мы
        гарантируем выполнение обязательств по качеству предлагаемого
        товара!
      </span>
    </div>

  </div>

  <div>

    <div>
      <span>Складские помещения от 1000 до 10000 м²</span>

      <span>
        Склады оснащены современной WMS системой. <br/>
        Благодаря правильному расположению хрупких и зависимых
        от температуры товаров, а также бережному упаковыванию – груз
        до Вас дойдет в целости и сохранности!
      </span>
    </div>

    <div>
      <img src="../../../../assets/about/general-info/skladi.jpg" alt="">
    </div>

  </div>

  <div>

    <div>
      Мы работаем со <b>всеми клиентами!</b> Будь у Вас крупная торговая сеть,
      магазин автозапчастей, сервис СТО, транспортная компания,
      производство или же вы физическое лицо и приобретаете товар
      для личных целей. <br/>
      Вы можете оформить заказ онлайн на сайте, позвонить нам на горячую
      линию или оформить индивидуальный заказ.
      Наши менеджеры всегда рады помочь Вам!
    </div>

    <div>Мы приглашаем Вас к сотрудничеству с компанией МИДКАМ</div>

  </div>

  <div>

    <div>
      <img src="../../../../assets/about/general-info/pogruzka.jpg" alt="">
    </div>

    <div>
      <span>Экспорт товаров в страны СНГ по ставке НДС 0%</span>

      <span>
        Мы отправляем товары в следующие страны – <b>Беларусь, Азейбарджан,
        Казахстан, Киргизия, Узбекистан, Афганистан, Туркменистан.</b>
        Все этапы по оформлению документов и отправки товара мы берем на себя!
        Мы подготовим инвойс (счет-фактура), упаковочный
        лист, контракт, оригинал Российской декларации, накладная,
        сертификат происхождения от ТПП.
      </span>
    </div>

  </div>

  <div>

    <div>
      В городе Набережные Челны у нас
      расположены 3 торговые точки:
    </div>

    <div>
      Главный распределительный центр расположен по адресу: <br/>
      <b>пр. Казанский, дом 123.</b> <br/>
      Основное направление данной точки – это оптовые продажи
      в регионы России. В наличии абсолютно все запасные части
      из нашего ассортимента.
    </div>

  </div>

  <div>
    <img src="../../../../assets/about/general-info/sidorovka.jpg" alt="">
  </div>

  <div>

    <span>
      В черте города, по адресу: <br/>
      <b>пос. Орловка, ул. Центральная, дом 186</b> расположен второй офис.
      Тут присутствуют отдел продаж запасных частей на автомобили КАМАЗ
      и отечественные прицепы, отдел автозапчастей на автомобили МАЗ
      и комплектующие к двигателям ЯМЗ, Cummins, КАМАЗ.
    </span>

    <span>
      На авторынке мы находимся по адресу: <br/>
      <b>ПГО «Гараж-2000» бокс 4/2.</b> В ассортименте запасные части на
      автомобили КАМАЗ, отечественные прицепы и комплектующие к
      двигателям Cummins и КАМАЗ.
    </span>

  </div>

  <div>

    <div>
      <img src="../../../../assets/about/general-info/orlovka.jpg" alt="">
    </div>

    <div>
      <img src="../../../../assets/about/general-info/garage.jpg" alt="">
    </div>

  </div>

  <div>
    <b>Доставка запчастей</b> производится при помощи транспортных компаний, попутной машиной или самовывозом.
    В черте города возможна доставка с помощью собственного автопарка.
    Подробнее о доставке мы можете уточнить у менеджеров компании МИДКАМ позвонив по телефону
    8-800-700-31-32 или в разделе «доставка» на сайте www.midkam.ru. <br/>
    <b>Условия оплаты</b> <br/>
    Для юридических лиц – это безналичная оплата с НДС или без НДС.
    Для физических лиц при условии нахождения в нашем офисе возможна оплата наличными или картами любых банков. <br/>
    <b>Отсрочка платежа</b> <br/>
    После успешной и продолжительной работы с нашей компанией возможны отгрузки с отсрочкой платежа. Все условия
    обговариваются индивидуально.
  </div>

  <div>

    <div>
      <b>Комфортабельная гостиница</b> <br/>
      Для иногородних клиентов на территории здания. <br/>
      В гостинице предусмотрены кухня, душ, туалет,
      чистое постельное белье.
    </div>

    <div>
      <img src="../../../../assets/about/general-info/gostinica.jpg" alt="">
    </div>

  </div>

  <div>

    <ul>
      <li>
        Возможна индивидуальная поставка тех товаров, которых нету
        в нашем ассортименте. Все детали можете обговорить у Вашего
        менеджера или кликнув по кнопке <b>«Индивидуальный заказ»</b>
        на главной странице сайта.
      </li>
      <li>
        Гибкая ценовая политика позволяет нам конкурировать на рынке,
        а Вам получать запасные части по <b>лучшим ценам!</b>
      </li>
    </ul>

    <ul>
      <li>Прямые поставки <b>без посредников</b> от заводов-производителей.</li>
      <li><b>Ежедневное</b> увеличение ассортимента и обновление описаний и фотографий товаров.</li>
      <li>
        Синхронизация сайта и системы учета работает в режиме онлайн.
        Цены и наличие товаров на сайте всегда актуальны.
      </li>
    </ul>

  </div>

</div>
