<div class="manufacturer-catalog-page">

  <nav class="breadcrumbs">
    <app-ng-dynamic-breadcrumb [bgColor]="'#ffffff'" symbol="" class="breadcrumbs-links"></app-ng-dynamic-breadcrumb>
  </nav>

  <aside class="m-aside">

    <div class="m-aside__logo">
      <img *ngIf="manufacturer" [src]="manufacturer.logoCompanyUrl ?
        manufacturer.logoCompanyUrl
        : '../../../../assets/manufacturer/default-manufacturer.jpg'" [alt]="manufacturer.nameCompany">
      <span>{{manufacturer ? manufacturer.nameCompany : ''}}</span>
    </div>

    <button class="m-aside__modal-trigger" (click)="manufacturerInfoModal()">
      <span>Подробнее о производителе</span>
      <img src="../../../../assets/icon/search.svg" alt="" data-el="logo">
    </button>

    <div class="m-aside__drop-list" *ngIf="manufacturer">
      <button (click)="dropList($event)">
        <span>Сертификаты</span>
        <div></div>
      </button>

      <ngx-slick-carousel class="slick-slider-main-class manufacturer-catalog-certificate" [config]="certificateConfig">
        <div ngxSlickItem *ngFor="let c of manufacturer.photoCertificate" class="slide">
          <button (click)="openCertificate($event)">
            <img [src]="c.certificatePhotoUrl" alt="">
          </button>
        </div>
      </ngx-slick-carousel>
    </div>

    <div class="m-aside__drop-list">
      <button (click)="dropList($event)">
        <span>Применяемость</span>
        <div></div>
      </button>

      <ul>
        <li *ngFor="let ap of applicability; let idx = index">
          <label>
            <input type="checkbox" [ngModel]="!!ap.checked"
                   (ngModelChange)="changesFilter(applicability, idx, 'applicability')">
            <span>
              {{ap.label}}
              <div>{{ap.count_detail ? '(' + ap.count_detail + ')' : ''}}</div>
            </span>
          </label>
        </li>
      </ul>
    </div>

    <div class="m-aside__drop-list">
      <button (click)="dropList($event)">
        <span>Категория товара</span>
        <div></div>
      </button>

      <ul>
        <li *ngFor="let c of category; let idx = index">
          <label>
            <input type="checkbox" [ngModel]="!!c.checked"
                   (ngModelChange)="changesFilter(category, idx, 'category')">
            <span>
              {{c.label}}
              <div>{{c.count_detail ? '(' + c.count_detail + ')' : ''}}</div>
            </span>
          </label>
        </li>
      </ul>
    </div>

    <div class="m-aside__drop-list">
      <button (click)="dropList($event)">
        <span>Автомобильная группа</span>
        <div></div>
      </button>

      <ul>
        <li *ngFor="let p of parts; let idx = index">
          <label>
            <input type="checkbox" [ngModel]="!!p.checked" (ngModelChange)="changesFilter(parts, idx, 'parts')">
            <span>
              {{p.label}}
              <div>{{p.count_detail ? '(' + p.count_detail + ')' : ''}}</div>
            </span>
          </label>
        </li>
      </ul>
    </div>

    <div class="m-aside__drop-list">
      <button (click)="dropList($event)">
        <span>Наличие товара</span>
        <div></div>
      </button>

      <ul>
        <li>
          <label>
            <input type="checkbox" [ngModel]="availability"
                   (ngModelChange)="additionalFilterChange('availability', 'В наличии')">
            <span>В наличии</span>
          </label>
        </li>
        <div></div>
        <li>
          <label>
            <input type="checkbox" [ngModel]="recent"
                   (ngModelChange)="additionalFilterChange('recent', 'Рекомендуемые')">
            <span>Рекомендуем</span>
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" [ngModel]="sale"
                   (ngModelChange)="additionalFilterChange('sale', 'По акции')">
            <span>Акции</span>
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" [ngModel]="popular"
                   (ngModelChange)="additionalFilterChange('popular', 'Новинки')">
            <span>Новинки</span>
          </label>
        </li>
      </ul>
    </div>

  </aside>

  <aside class="m-aside-mobile">
    <div class="m-aside-mobile__logo">
      <img *ngIf="manufacturer" [src]="manufacturer.logoCompanyUrl ?
        manufacturer.logoCompanyUrl
        : '../../../../assets/manufacturer/default-manufacturer.jpg'" [alt]="manufacturer.nameCompany">
      <span>{{manufacturer ? manufacturer.nameCompany : ''}}</span>
    </div>

    <button class="m-aside-mobile__modal-trigger" (click)="manufacturerInfoModal()">
      <span>Подробнее о производителе</span>
      <img src="../../../../assets/icon/search.svg" alt="" data-el="logo">
    </button>

    <div class="m-aside-mobile__drop-list" *ngIf="manufacturer && manufacturer.photoCertificate.length > 0">
      <button (click)="dropList($event)">
        <span>Сертификаты</span>
        <div></div>
      </button>

      <ngx-slick-carousel class="slick-slider-main-class manufacturer-catalog-certificate" [config]="certificateConfig">
        <div ngxSlickItem *ngFor="let c of manufacturer.photoCertificate" class="slide">
          <button (click)="openCertificate($event)">
            <img [src]="c.certificatePhotoUrl" alt="">
          </button>
        </div>
      </ngx-slick-carousel>
    </div>

    <div>

      <button (click)="dropListMobile($event)">
        <span>Фильтры</span>
        <div></div>
      </button>


      <div>
        <div class="m-aside-mobile__drop-list">
          <button (click)="dropList($event)">
            <span>Применяемость</span>
            <div></div>
          </button>

          <ul>
            <li *ngFor="let ap of applicability; let idx = index">
              <label>
                <input type="checkbox" [ngModel]="!!ap.checked"
                       (ngModelChange)="changesFilter(applicability, idx, 'applicability')">
                <span>
              {{ap.label}}
                  <div>{{ap.count_detail ? '(' + ap.count_detail + ')' : ''}}</div>
            </span>
              </label>
            </li>
          </ul>
        </div>

        <div class="m-aside-mobile__drop-list">
          <button (click)="dropList($event)">
            <span>Категория товара</span>
            <div></div>
          </button>

          <ul>
            <li *ngFor="let c of category; let idx = index">
              <label>
                <input type="checkbox" [ngModel]="!!c.checked"
                       (ngModelChange)="changesFilter(category, idx, 'category')">
                <span>
              {{c.label}}
                  <div>{{c.count_detail ? '(' + c.count_detail + ')' : ''}}</div>
            </span>
              </label>
            </li>
          </ul>
        </div>

        <div class="m-aside-mobile__drop-list">
          <button (click)="dropList($event)">
            <span>Автомобильная группа</span>
            <div></div>
          </button>

          <ul>
            <li *ngFor="let p of parts; let idx = index">
              <label>
                <input type="checkbox" [ngModel]="!!p.checked" (ngModelChange)="changesFilter(parts, idx, 'parts')">
                <span>
              {{p.label}}
                  <div>{{p.count_detail ? '(' + p.count_detail + ')' : ''}}</div>
            </span>
              </label>
            </li>
          </ul>
        </div>

        <div class="m-aside-mobile__drop-list">
          <button (click)="dropList($event)">
            <span>Наличие товара</span>
            <div></div>
          </button>

          <ul>
            <li>
              <label>
                <input type="checkbox" [ngModel]="availability"
                       (ngModelChange)="additionalFilterChange('availability', 'В наличии')">
                <span>В наличии</span>
              </label>
            </li>
            <div></div>
            <li>
              <label>
                <input type="checkbox" [ngModel]="recent"
                       (ngModelChange)="additionalFilterChange('recent', 'Рекомендуемые')">
                <span>Рекомендуем</span>
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" [ngModel]="sale"
                       (ngModelChange)="additionalFilterChange('sale', 'По акции')">
                <span>Акции</span>
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" [ngModel]="popular"
                       (ngModelChange)="additionalFilterChange('popular', 'Новинки')">
                <span>Новинки</span>
              </label>
            </li>
          </ul>
        </div>
      </div>

    </div>

  </aside>

  <div class="m-catalog">

    <ngx-slick-carousel class="slick-slider-main-class manufacturer-page-banners" [config]="bannersConfig"
                        (init)="slickInit($event)">
      <div ngxSlickItem *ngFor="let b of banners" class="slide">
        <img [src]="b.url" alt="">
        <a *ngIf="b.pageReference" [href]="b.pageReference">Узнать подробнее</a>
      </div>
    </ngx-slick-carousel>

    <div class="m-catalog__quick-search">

      <div>
        <label *ngFor="let l of letters; let idx = index">
          <input type="radio" name="letter" [checked]="l.checked" (change)="chooseLetter(idx)">
          <span>{{l.label.charAt(l.label.length - 1)}}</span>
        </label>
      </div>

      <div>
        <input type="text" placeholder="Поиск по разделу" (keyup.enter)="search($event)">
      </div>

    </div>

    <div class="m-catalog__info">

      <div>
        <span>Найдено товаров: {{total}}</span>
      </div>

      <div>

        <div class="m-catalog__info__sort">
          <span>Сортировать:</span>
          <button (click)="sorting(true, false)" [ngClass]="{'sorting': sortByLetter}">
            по названию
          </button>
          <div [ngClass]="{
              'm-catalog__info__sort__letter': sortByLetter,
              'm-catalog__info__sort__letter_desc': sortByLetter && !sortByASC,
              'm-catalog__info__sort__price': sortByPrice,
              'm-catalog__info__sort__price_desc': sortByPrice && !sortByASC
            }">
            <span></span>
          </div>
          <button (click)="sorting(false, true)" [ngClass]="{'sorting': sortByPrice}">
            по цене
          </button>
        </div>

        <div class="m-catalog__info__display">

          <label class="main" [style]="displayMain ? 'background: #ebecec;' : 'background: transparent;'">
            <input type="radio" name="display" (change)="displayMain = true">
            <span></span>
            <div></div>
          </label>

          <label class="analog" [style]="!displayMain ? 'background: #ebecec;' : 'background: transparent;'">
            <input type="radio" name="display" (change)="displayMain = false">
            <div></div>
          </label>

        </div>

      </div>

    </div>

    <hr/>

    <div class="m-catalog__filters">

      <div>

        <div *ngFor="let f of selectedFilters; let idx = index">
          <span>{{f.label}}</span>
          <span (click)="removeFilter(idx)">&#10006;</span>
        </div>

      </div>

      <button (click)="clearFilter()">Сбросить все фильтры</button>

    </div>

    <hr/>

    <ul class="m-catalog__result" *ngIf="details.length; else empty">

      <li [ngClass]="{
            'm-catalog__display-main': displayMain,
            'm-catalog__display-analog': !displayMain
          }"
          *ngFor="let d of details |
          paginate: { itemsPerPage: 20, currentPage: page, totalItems: total};
           let idx = index;">

        <ng-template [ngIf]="displayMain">

          <div class="m-catalog__display-main__image">
            <img [src]="d.photoDetail && d.photoDetail.length ? d.photoDetail[0].url : defaultImage">
            <span *ngIf="d.photoDetail && d.photoDetail.length">Быстрый просмотр</span>
          </div>

          <div class="m-catalog__display-main__text">

            <span>{{shoppingService.toCurrency(d.price)}}</span>

            <a [routerLink]="['/', 'manufacturer', manufacturerId, d.id]"
               (click)="viewedService.addToRecentlyViewed(d.id)">
              {{d.name}}
            </a>

            <div class="m-catalog__display-main__text__codes">
              Артикул: {{d.vendorCode}}
              <span *ngIf="d.additionalVendorCode && d.additionalVendorCode.length">
                Доп артикул:
                <span *ngFor="let vendorCode of d.additionalVendorCode">
                  {{vendorCode.additionalCode}} /
                </span>
              </span>
            </div>

            <div class="m-catalog__display-main__text__applicability">
              <small *ngIf="d.autoApplicability && d.autoApplicability.length">
                Применяемость:
                <span *ngFor="let applicability of d.autoApplicability; let idx = index">
                  {{applicability.autoApplicabilityName}}
                  <span *ngIf="idx < d.autoApplicability.length - 1">, </span>
                </span>
              </small>
            </div>

            <div class="m-catalog__display-main__text__quantity">
              <input type="number" [value]="d.quantity" (change)="manualInput($event, d.id, idx)" [disabled]="action">
            </div>

          </div>

          <div class="m-catalog__display-main__quantity">
            <button (click)="decrease(d.id, idx)" [disabled]="action"></button>
            <input type="number" [value]="d.quantity" (change)="manualInput($event, d.id, idx)" [disabled]="action">
            <button (click)="increase(d.id, idx)" [disabled]="action"><span></span></button>
          </div>

          <div class="m-catalog__display-main__to-order">

            <div>
              <div class="quantity-bar">
                <div
                  [style.width]="d.quantityRatio + '%'"
                  [style.border-top-right-radius]="d.quantityRatio && d.quantityRatio > 90 ? '5px' : '0px'"
                  [style.border-bottom-right-radius]="d.quantityRatio && d.quantityRatio > 90 ? '5px' : '0px'">
                </div>
                <span *ngIf="d.quantityRatio; else no_available_main">в наличии</span>
                <ng-template #no_available_main><span class="not-available">нет в наличии</span></ng-template>
                <ul>
                  <li>
                    <div>
                      пр. Казанский, 123 <br/>
                      Сидоровка
                    </div>
                    <div *ngIf="d.storageGES >= 70">
                      <span></span>
                      <span>Очень много</span>
                    </div>
                    <div *ngIf="d.storageGES >= 50 && d.storageGES < 70">
                      <span></span>
                      <span>Много</span>
                    </div>
                    <div *ngIf="d.storageGES >= 20 && d.storageGES < 50">
                      <span></span>
                      <span>Достаточно</span>
                    </div>
                    <div *ngIf="d.storageGES >= 10 && d.storageGES < 20">
                      <span></span>
                      <span>Мало</span>
                    </div>
                    <div *ngIf="d.storageGES >= 0 && d.storageGES < 10">
                      <span></span>
                      <span>Очень много</span>
                    </div>
                    <div *ngIf="d.storageGES < 0">
                      <div>&#xd7;</div>
                      <span>Нет в наличии</span>
                    </div>
                  </li>
                  <li>
                    <div>
                      ул. Центральная, 186 <br/>
                      Орловка
                    </div>
                    <div *ngIf="d.storageOrlovka >= 70">
                      <span></span>
                      <span>Очень много</span>
                    </div>
                    <div *ngIf="d.storageOrlovka >= 50 && d.storageOrlovka < 70">
                      <span></span>
                      <span>Много</span>
                    </div>
                    <div *ngIf="d.storageOrlovka >= 20 && d.storageOrlovka < 50">
                      <span></span>
                      <span>Достаточно</span>
                    </div>
                    <div *ngIf="d.storageOrlovka >= 10 && d.storageOrlovka < 20">
                      <span></span>
                      <span>Мало</span>
                    </div>
                    <div *ngIf="d.storageOrlovka >= 0 && d.storageOrlovka < 10">
                      <span></span>
                      <span>Очень много</span>
                    </div>
                    <div *ngIf="d.storageOrlovka < 0">
                      <div>&#xd7;</div>
                      <span>Нет в наличии</span>
                    </div>
                  </li>
                  <li>
                    <div>
                      пр. Казанский, 224/4 блок 4 <br/>
                      "Гараж-2000"
                    </div>
                    <div *ngIf="d.storageGarage2000 >= 70">
                      <span></span>
                      <span>Очень много</span>
                    </div>
                    <div *ngIf="d.storageGarage2000 >= 50 && d.storageGarage2000 < 70">
                      <span></span>
                      <span>Много</span>
                    </div>
                    <div *ngIf="d.storageGarage2000 >= 20 && d.storageGarage2000 < 50">
                      <span></span>
                      <span>Достаточно</span>
                    </div>
                    <div *ngIf="d.storageGarage2000 >= 10 && d.storageGarage2000 < 20">
                      <span></span>
                      <span>Мало</span>
                    </div>
                    <div *ngIf="d.storageGarage2000 >= 0 && d.storageGarage2000 < 10">
                      <span></span>
                      <span>Очень много</span>
                    </div>
                    <div *ngIf="d.storageGarage2000 < 0">
                      <div>&#xd7;</div>
                      <span>Нет в наличии</span>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="favorite-mark" (click)="mark(d.id, idx)">
                <img src="../../../../assets/general-icon/favorite-static.svg" alt="" *ngIf="!d.marked">
                <img src="../../../../assets/general-icon/favorite-touched.svg" alt="" *ngIf="d.marked">
              </div>
            </div>

            <span>
              <span *ngIf="!d.manufacturer!.logoCompanyUrl; else with_logo_main">
                {{d.manufacturer!.nameCompany}}
              </span>
              <ng-template #with_logo_main>
                <img [src]="d.manufacturer!.logoCompanyUrl" [alt]="d.manufacturer!.nameCompany">
              </ng-template>
            </span>

            <span>{{shoppingService.toCurrency(d.price)}}</span>

            <button (click)="addProduct(d.id, idx)"
                    [disabled]="shoppingService.check(d.id) || action"
                    [style]="shoppingService.check(d.id)?
                    'background-color: #fdcb00;':'background-color: #ffffff;'">
              {{shoppingService.check(d.id)?'В корзине':'В заказ'}}
            </button>

          </div>

        </ng-template>

        <ng-template [ngIf]="!displayMain">

          <div class="m-catalog__display-analog__image">
            <img [src]="d.photoDetail && d.photoDetail.length ? d.photoDetail[0].url : defaultImage">
            <span *ngIf="d.photoDetail && d.photoDetail.length">
              <img [src]="d.photoDetail[0].url">
            </span>
          </div>

          <div class="m-catalog__display-analog__title">
            <a [routerLink]="['/', 'manufacturer', manufacturerId, d.id]"
               (click)="viewedService.addToRecentlyViewed(d.id)">
              {{d.name}}
            </a>
          </div>

          <div class="m-catalog__display-analog__text">
            <span>{{d.vendorCode}} / {{d.productCode}}</span>
          </div>

          <div class="m-catalog__display-analog__manufacturer">
            <span *ngIf="!d.manufacturer!.logoCompanyUrl; else with_logo_analog">
              {{d.manufacturer!.nameCompany}}
            </span>
            <ng-template #with_logo_analog>
              <img [src]="d.manufacturer!.logoCompanyUrl" [alt]="d.manufacturer!.nameCompany">
            </ng-template>
          </div>

          <div class="m-catalog__display-analog__price">
            {{shoppingService.toCurrency(d.price)}}
          </div>

          <div class="m-catalog__display-analog__quantity">
            <div class="quantity-bar">
              <div [style.width]="d.quantityRatio + '%'"
                   [style.border-top-right-radius]="d.quantityRatio && d.quantityRatio > 90 ? '5px' : '0px'"
                   [style.border-bottom-right-radius]="d.quantityRatio && d.quantityRatio > 90 ? '5px' : '0px'">
              </div>
              <span *ngIf="d.quantityRatio; else no_available_analog_view">в наличии</span>
              <ng-template #no_available_analog_view><span class="not-available-analog">нет в наличии</span></ng-template>
            </div>
            <div class="favorite-mark" (click)="mark(d.id, idx)">
              <img src="../../../../assets/general-icon/favorite-static.svg" alt="" *ngIf="!d.marked">
              <img src="../../../../assets/general-icon/favorite-touched.svg" alt="" *ngIf="d.marked">
            </div>
          </div>

          <div class="m-catalog__display-analog__to-order">
            <div *ngIf="shoppingService.check(d.id); else to_cart">
              <button (click)="decrease(d.id, idx)" [disabled]="action"></button>
              <input type="number" [value]="d.quantity" (change)="manualInput($event, d.id, idx)" [disabled]="action">
              <button (click)="increase(d.id, idx)" [disabled]="action"><span></span></button>
            </div>
            <ng-template #to_cart>
              <button (click)="addProduct(d.id, idx)" [disabled]="action">В заказ</button>
            </ng-template>
          </div>

        </ng-template>

      </li>

      <li class="m-catalog__result__more">
        <button (click)="nextDetails(page + 1, true)"
                [disabled]="offsetEnd || action">
          Показать еще
        </button>
      </li>

      <pagination-controls class="pagination" (pageChange)="nextDetails($event, false)"
                           previousLabel="" nextLabel="" [maxSize]="maxQuantityViewPages">
      </pagination-controls>
    </ul>

    <ng-template #empty>

      <ng-container *ngIf="errorMessage; else loader">
        <div class="m-catalog__error">
          <span>{{errorMessage}}</span>
        </div>
      </ng-container>

      <ng-template #loader>
        <div class="m-catalog__loader">
          <div class="lds-dual-ring"></div>
        </div>
      </ng-template>

    </ng-template>

  </div>

</div>

<div class="modal" #modalInfo>

  <div class="modal-background" (click)="closeModal($event)"></div>

  <div class="manufacturer-modal">
    <div class="posts" *ngIf="manufacturer && manufacturer.description">
      <div [innerHtml]="sanitize(manufacturer.description)"></div>
    </div>
  </div>

</div>

<div class="modal" #modalImage>

  <div class="modal-background" (click)="closeModal($event)"></div>

  <img class="m-certificate-modal" src="" alt="" />

</div>
