.no-action {
  width: 100%;
  margin: 50px auto 200px auto;

  h1 {
    font-size: 40px;
    font-family: "Museo Sans Cyrl 700";
  }

}

@media (max-width: 768px) {

  .no-action {
    width: 93%;
    margin: 0 auto 30px;

    h1 {
      margin: 0 auto;
      font-size: 32px;
    }

  }

}
