<div class="catalog-type-container">

  <nav class="breadcrumbs">
    <app-ng-dynamic-breadcrumb class="breadcrumbs-links" symbol="" [bgColor]="'#ffffff'"></app-ng-dynamic-breadcrumb>
  </nav>

  <div>

    <div class="catalog-type-column">

      <div class="catalog-type-column__item">
        <div>
          <img src="../../../../assets/catalog/type-view/podshipnik.png">
        </div>
        <span>Подшипники</span>
        <ul>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Подшипники роликовые'}">Подшипники роликовые</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Подшипники выжимные'}">Подшипники выжимные</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Подшипники ступицы'}">Подшипники ступицы</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Подшипники шкворня'}">Подшипники шкворня</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Подшипники подвесные'}">Подшипники подвесные</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Подшипники открытые'}">Подшипники открытые</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Подшипники закрытые'}">Подшипники закрытые</a></li>
        </ul>
      </div>

      <div class="catalog-type-column__item">
        <div>
          <img src="../../../../assets/catalog/type-view/rezina.png">
        </div>
        <span>Резинотехнические изделия</span>
        <ul>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Прокладки'}">Прокладки</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Комплекты прокладок'}">Комплекты прокладок</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Манжеты'}">Манжеты</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Ремни'}">Ремни</a></li>
        </ul>
      </div>

    </div>

    <div class="catalog-type-column">

      <div class="catalog-type-column__item">
        <div>
          <img src="../../../../assets/catalog/type-view/gaiki.png">
        </div>
        <span>Метизная продукция</span>
        <ul>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Болты'}">Болты</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Винты'}">Винты</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Гайки'}">Гайки</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Заглушки'}">Заглушки</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Масленки'}">Масленки</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Муфты'}">Муфты</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Пробки'}">Пробки</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Тройники'}">Тройники</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Угольники'}">Угольники</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Шайбы'}">Шайбы</a></li>
        </ul>
      </div>

      <div class="catalog-type-column__item">
        <div>
          <img src="../../../../assets/catalog/type-view/aksesuari.png">
        </div>
        <span>Автоаксессуары</span>
        <ul>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Аптечки'}">Аптечки</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Домкраты'}">Домкраты</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Провода прикуривателя'}">Провода прикуривателя</a></li>
        </ul>
      </div>

    </div>

    <div class="catalog-type-column">

      <div class="catalog-type-column__item">
        <div>
          <img src="../../../../assets/catalog/type-view/shlang.png">
        </div>
        <span>Шланги и РВД</span>
        <ul>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Шланги тормозные'}">Шланги тормозные</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Шланги отопителя'}">Шланги отопителя</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Шланги компрессора'}">Шланги компрессора</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Шланги межколесные'}">Шланги межколесные</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Шланги МДМ'}">Шланги МДМ</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Шланги ПГУ'}">Шланги ПГУ</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Шланги подкачки'}">Шланги подкачки</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Шланги прицепа'}">Шланги прицепа</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Рукава высокого давления'}">Рукава высокого давления</a></li>
        </ul>
      </div>

      <div class="catalog-type-column__item">
        <div>
          <img src="../../../../assets/catalog/type-view/instrument.png">
        </div>
        <span>Инструменты</span>
        <ul>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Ключи, отвертки'}">Ключи, отвертки</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Наборы ключей'}">Наборы ключей</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Башмаки противооткатные'}">Башмаки противооткатные</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Шторы'}">Шторы</a></li>
        </ul>
      </div>

    </div>

    <div class="catalog-type-column">

      <div class="catalog-type-column__item">
        <div>
          <img src="../../../../assets/catalog/type-view/instrument.png">
        </div>
        <span>Инструменты</span>
        <ul>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Ключи, отвертки'}">Ключи, отвертки</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Наборы ключей'}">Наборы ключей</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Башмаки противооткатные'}">Башмаки противооткатные</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Шторы'}">Шторы</a></li>
        </ul>
      </div>

      <div class="catalog-type-column__item">
        <div>
          <img src="../../../../assets/catalog/type-view/gaiki.png">
        </div>
        <span>Метизная продукция</span>
        <ul>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Болты'}">Болты</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Винты'}">Винты</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Гайки'}">Гайки</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Заглушки'}">Заглушки</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Масленки'}">Масленки</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Муфты'}">Муфты</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Пробки'}">Пробки</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Тройники'}">Тройники</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Угольники'}">Угольники</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Шайбы'}">Шайбы</a></li>
        </ul>
      </div>

    </div>

    <div class="catalog-type-column">

      <div class="catalog-type-column__item">
        <div>
          <img src="../../../../assets/catalog/type-view/kolesa.png">
        </div>
        <span>Колеса</span>
        <ul>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Автокамеры'}">Автокамеры</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Автошины'}">Автошины</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Ленты ободные'}">Ленты ободные</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Ниппеля'}">Ниппеля</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Цепи противоскользящие'}">Цепи противоскользящие</a></li>
        </ul>
      </div>

      <div class="catalog-type-column__item">
        <div>
          <img src="../../../../assets/catalog/type-view/shlang.png">
        </div>
        <span>Шланги и РВД</span>
        <ul>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Шланги тормозные'}">Шланги тормозные</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Шланги отопителя'}">Шланги отопителя</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Шланги компрессора'}">Шланги компрессора</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Шланги межколесные'}">Шланги межколесные</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Шланги МДМ'}">Шланги МДМ</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Шланги ПГУ'}">Шланги ПГУ</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Шланги подкачки'}">Шланги подкачки</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Шланги прицепа'}">Шланги прицепа</a></li>
          <li><a routerLink="/catalog" [state]="{viewCategory: 'Рукава высокого давления'}">Рукава высокого давления</a></li>
        </ul>
      </div>

    </div>

  </div>

</div>
