<div class="filters">
  <button (click)="isShowed = !isShowed" [ngClass]="{'drop': isShowed}">
    <span>{{label}}</span>
    <div></div>
  </button>

  <ul [ngClass]="{'drop': isShowed, 'line': isShowLine}">
    <li *ngFor="let i of filterList; let idx = index;" [attr.data-filter]="i.label">
      <label>
        <input type="checkbox" [ngModel]="!!i.checked" (change)="selectFilter(filterList, idx)">
        <span>
              {{i.label}}
          <div>{{i.count_detail ? '(' + i.count_detail + ')' : ''}}</div>
            </span>
      </label>
    </li>
  </ul>
</div>
